.modal-dialog {
    -webkit-box-shadow: 0px 0px 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.modal .modal-content .btnClose {
    position: relative;
    top: 1vh;
    left: 86vw;
    opacity: 1;
    font-size: 30px;
}

.modal .modal-content {
    border-radius: 0;
    background-clip: unset;
}

.modal-open {
    overflow: hidden;
}

/* Estilos marco normativo */
.modal-content.primerDivMarco {
    background-color: #EE3A4F;
}

.primerDivMarco .tituloPrincipal {
    font-family: DIN Condensed Bold;
    font-size: 28px;
}

.primerDivMarco .estrellaDerecha {
    width: 5%;
    position: relative;
    left: 95px;
    top: -30px;
}

.primerDivMarco .estrellaIzquierda {
    width: 6%;
    position: relative;
    left: -100px;
    top: 20px;
}

.primerDivMarco article {
    line-height: 18px;
    text-align: justify;
    padding: 0 6vw;
}

.primerDivMarco .foto1 {
    margin-left: -3vw;
    margin-bottom: -2vh;
    width: 108%;
}

.segundoDivMarco .foto2 {
    width: 114%;
    margin-left: -6vw;
    margin-top: -4vh;
}

.segundoDivMarco .estrellaRojas {
    width: 6%;
    position: relative;
    top: 10px;
}

.segundoDivMarco .numero {
    font-family:DIN Condensed Bold;
    font-size: 16px;
    width: max-content;
    background-color: #FFF100;
    border-radius: 20px;
    padding: 0 6px;
    margin: 10px 0 10px -40px;
}

.segundoDivMarco .lineaPunteada {
    background-image: url("../../assets/imagenes/RECURSOS MOBILE/PNG INTRODUCCIÓN/Marco Normativo/005.Línea punteada.png");
    background-size: auto;
    background-repeat: repeat-y;
    background-position: left;
    margin-left: 11vw;
    padding: 0 4vw 0 4vw;
}

.segundoDivMarco .lineaPunteada .accordion {
    margin-bottom: 15px;
}

.segundoDivMarco .lineaPunteada .accordion-button:not(.collapsed) {
    font-family: DIN Condensed Bold;
    color: #000000;
    font-weight: 900;
    background-color: #ffff;
    box-shadow: none;
}

.segundoDivMarco .lineaPunteada .accordion-button {
    background-color: #fff;
    font-family: DIN Condensed Bold;
    border-radius: 0;
    padding: 8px;
}

.segundoDivMarco .lineaPunteada .accordion-button:focus {
    z-index: 3;
    border-color: #000000;
    box-shadow: none;
}

.segundoDivMarco .lineaPunteada .accordion-button::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: 10px;
    font-family: FontAwesome;
    content: "\2b";
    background-image: none;
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform .2s ease-in-out;
}

.segundoDivMarco .lineaPunteada .accordion-button:not(.collapsed)::after {
    font-family: FontAwesome;
    content: "\f068";
    background-image: none;
    transform: none;
}

.segundoDivMarco .lineaPunteada .accordion-item {
    background-color: #fff;
    border-radius: 0;
    border: 2px solid #000000;
    font-weight: 500;
}

.segundoDivMarco .lineaPunteada .accordion-item .accordion-body {
    padding: 0 8px 8px 8px;
    line-height: 16px;
    font-size: 14px;
}

.segundoDivMarco .lineaPunteada .accordion-item .accordion-body a {
    font-weight: 900;
    color: #F7931D;
    text-decoration: none;
}

/* Estilos marco normativo, Lenguaje */
.DivRecomendaciones.color {
    background-color: #237D34;
}

.DivLenguajeDos.color {
    background-color: #1B75BB;
}

#cajaHerramientaModal .DivRecomendaciones .modal-body .contentInfo,
#cajaHerramientaModal .DivLenguajeDos .modal-body .contentInfo {
    width: 100%;
    margin-left: 0;
    padding: 0 8vw;
}

.DivRecomendaciones .item,
.DivLenguajeDos .item {
    color: #ffff;
}

.DivRecomendaciones .tituloPrincipal,
.DivLenguajeDos .tituloPrincipal {
    font-family: DIN Condensed Bold;
    font-size: 24px;
}

.DivRecomendaciones .tituloPrincipal{
    padding: 0 10vw;
    line-height: 22px;
}

.DivRecomendaciones .estrellaDerecha,
.DivLenguajeDos .estrellaDerecha {
    width: 5%;
    position: relative;
    left: 90px;
    top: -20px;
}

.DivLenguajeDos .estrellaDerecha {
    left: 95px;
    top: -30px;
}

.DivRecomendaciones .estrellaIzquierda,
.DivLenguajeDos .estrellaIzquierda {
    width: 6%;
    position: relative;
    left: -115px;
    top: 26px;
}

.DivLenguajeDos .estrellaIzquierda {
    left: -112px;
    top: 28px;
}

.DivRecomendaciones article,
.DivLenguajeDos article {
    line-height: 18px;
    text-align: justify;
    padding: 0 7vw;
}

.DivRecomendaciones .foto1 {
    width: 110%;
}

.DivLenguajeDos .foto1 {
    width: 100%;
}

.DivLenguajeDos footer {
    margin-top: 10vh;
}

.DivLenguajeDos .nube {
    width: 105%;
    position: relative;
    top: -21vh;
    left: -1vw;
}

.DivRecomendaciones .owl-theme,
.DivLenguajeDos .owl-theme {
    margin-bottom: -2vh;
}

.DivRecomendaciones .itemSlider header {
    margin-top: -3vh;
    margin-bottom: 3vh;
}

.DivRecomendaciones .itemSlider .interImg {
    margin-top: 1vh;
    ;
}

.DivRecomendaciones .itemSlider .imgItemS {
    width: 70%;
}

.DivRecomendaciones .itemSlider article {
    padding: 0 5vw;
    color: #000000;
}

.DivLenguajeDos .itemSlider .imgEstrellaI {
    width: 12%;
    padding: 0 0 8vh 2vw;
}

.DivLenguajeDos .itemSlider .imgEstrellaD {
    width: 14%;
    padding-right: 2vw;
}

.DivLenguajeDos .itemSlider article {
    padding: 0 12vw;
    color: #000000;
    line-height: 18px;
}

.DivRecomendaciones .itemSlider article .tituloSlider {
    margin-left: -2px;
    margin-bottom: -3px;
    text-align: left;
    font-family: DIN Condensed Bold;
    line-height: 24px;
}

.DivLenguajeDos .itemSlider article .tituloSlider {
    text-align: left;
    font-family: DIN Condensed Bold;
    line-height: 24px;
}

.DivRecomendaciones .itemSlider article p {
    margin-bottom: -2px;
}

.DivRecomendaciones .itemSlider article p::before {
    content: ' ';
    background-image: url("../../assets/imagenes/RECURSOS MOBILE/PNG INTRODUCCIÓN/Recomendaciones para la implementación del enfoque de género/011.Estrella verde.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    width: 10px;
    height: 20px;
    position: relative;
    left: -4vw;
    top: 2vh;
}

.DivLenguajeDos .itemSlider article div>.False {
    content: ' ';
    background-image: url("../../assets/imagenes/RECURSOS MOBILE/PNG LENGUAJE/009. No usar_Mesa de trabajo 1 copia 2.png");
    background-size: 80%;
    background-repeat: no-repeat;
    display: block;
    width: 42px;
    height: 42px;
    position: relative;
    top: 5vh;
}

.DivLenguajeDos .itemSlider article div>.True {
    content: ' ';
    background-image: url("../../assets/imagenes/RECURSOS MOBILE/PNG LENGUAJE/010. Usar_Mesa de trabajo 1 copia 2.png");
    background-size: 90%;
    background-repeat: no-repeat;
    display: block;
    width: 42px;
    height: 42px;
    position: relative;
    top: 5vh;
}

.DivLenguajeDos .itemSlider article img {
    width: 120%;
    margin-left: -6vw;
    margin-top: 4vh;
}

.DivLenguajeDos .itemSlider article .personaCharlando {
    width: 144%;
    margin-left: -15vw;
}

.DivRecomendaciones .owl-theme .owl-controls .owl-page span,
.DivLenguajeDos .owl-theme .owl-controls .owl-page span {
    background-color: #FFF100;
}

.DivLenguajeDos .itemSlider article .divCuarto>div,
.DivLenguajeDos .itemSlider article .divCinco>div {
    font-size: 12px;
    margin-bottom: 10px;
    line-height: 14px;
}

.DivLenguajeDos .itemSlider article .divCuarto>div>.no {
    color: #EE3A4F;
    font-family: Myriad Pro Bold;
}

.DivLenguajeDos .itemSlider article .divCuarto>div>.si {
    color: #237D34;
    font-family: Myriad Pro Bold;
}

.DivLenguajeDos .itemSlider article .divCuarto strong {
    line-height: 14px;
}

.DivLenguajeDos .itemSlider .contentInfo .opcionA {
    color: #CADB2A;
    margin-bottom: 5vh;
}

.DivLenguajeDos .itemSlider .articleOpcionA {
    padding: 0 8vw;
}

.DivLenguajeDos .itemSlider .contentInfo .bombilloLenguaje {
    width: 12%;
    position: relative;
    left: -130px;
    top: 26px;
}

.DivLenguajeDos .foto1.opcionA {
    width: 92%;
}

.DivLenguajeDos .itemSlider .articleSeis{
    text-align: left;
}

.DivLenguajeDos .itemSlider article .divSeis>div {
    font-size: 12px;
}

.DivLenguajeDos .itemSlider article .divSeis {
    line-height: 14px;
    font-style: italic;
}

.DivLenguajeDos .itemSlider article .divSeis .divBefore div{
    margin-left: 5vw;
    margin-top: -2vh;
}

.DivLenguajeDos .itemSlider article .divSeis .divBefore div::before{
    content: ' ';
    background-image: url("../../assets/imagenes/RECURSOS MOBILE/PNG LENGUAJE/0033. Estrella verde.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    width: 10px;
    height: 20px;
    position: relative;
    left: -4vw;
    top: 2vh;
}

