.modal-dialog {
    -webkit-box-shadow: 0px 0px 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.modal .modal-content .btnClose {
    position: relative;
    top: 1vh;
    left: 86vw;
    opacity: 1;
    font-size: 30px;
}

.modal .modal-content {
    border-radius: 0;
    background-clip: unset;
}

.modal-open {
    overflow: hidden;
}

.modal-content.primerDivMarco {
    background-color: #EE3A4F;
}

.modal-content.primerDivLenguaje,
.modal-content.cuartoDivLenguaje {
    background-color: #1B75BB;
}

.modal-content.terceroDivLenguaje,
.modal-content.cincoDivAccesImagen {
    background-color: #CADB2A;
}

.modal-content.primerDivAccesImagen {
    background-color: #237D34;
}

.modal-content.primerDivUsoImg {
    background-color: #F7931D;
}

.modal-content.terceroDivUsoImg,
.modal-content.cincoDivUsoImg {
    background-color: #1B2F72;
}

.terceroDivLenguaje .modal-body,
.cuartoDivLenguaje .modal-body,
.cincoDivLenguaje .modal-body,
.primerDivAccesImagen .modal-body,
.segundoDivAccesImagen .modal-body,
.terceroDivAccesImagen .modal-body,
.segundoDivUsoImg .modal-body,
.terceroDivUsoImg .modal-body,
.cuartoDivUsoImg .modal-body,
.cincoDivUsoImg .modal-body,
.seisDivUsoImg .modal-body {
    margin-top: 4vh;
}

.segundoDivAccesImagen .modal-body,
.terceroDivAccesImagen .modal-body,
.cuartoDivAccesImagen .modal-body,
.cincoDivAccesImagen .modal-body,
.primerDivUsoImg .modal-body {
    margin-top: 8vh;
}

.terceroDivAccesImagen .modal-body {
    margin-top: 12vh;
}

.primerDivMarco .tituloPrincipal,
.primerDivLenguaje .tituloPrincipal,
.segundoDivLenguaje .tituloPrincipal,
.terceroDivLenguaje .tituloPrincipal,
.cuartoDivLenguaje .tituloPrincipal,
.primerDivAccesImagen .tituloPrincipal,
.segundoDivAccesImagen .tituloPrincipal,
.terceroDivAccesImagen .tituloPrincipal,
.cuartoDivAccesImagen .tituloPrincipal,
.cincoDivAccesImagen .tituloPrincipal,
.primerDivUsoImg .tituloPrincipal,
.segundoDivUsoImg .tituloPrincipal,
.terceroDivUsoImg .tituloPrincipal,
.cuartoDivUsoImg .tituloPrincipal,
.cincoDivUsoImg .tituloPrincipal,
.seisDivUsoImg .tituloPrincipal {
    font-family: DIN Condensed Bold;
    font-size: 28px;
}

.segundoDivLenguaje .tituloPrincipal {
    color: #C63D96;
    margin: 7vh -7vw 3vh -7vw;
}

.terceroDivLenguaje .tituloPrincipal {
    font-size: 32px;
}

.cuartoDivAccesImagen .tituloPrincipal,
.cincoDivAccesImagen .tituloPrincipal {
    font-size: 24px;
    line-height: 26px;
}

.primerDivAccesImagen .tituloPrincipal,
.segundoDivAccesImagen .tituloPrincipal,
.terceroDivAccesImagen .tituloPrincipal,
.cuartoDivAccesImagen .tituloPrincipal,
.cincoDivAccesImagen .tituloPrincipal {
    margin: 0 -7vw;
}

.segundoDivAccesImagen .tituloPrincipal,
.terceroDivAccesImagen .tituloPrincipal {
    margin-bottom: 2vh;
    line-height: 28px;
}

.cincoDivAccesImagen .tituloPrincipal {
    margin-bottom: 2vh;
    color: #C63D96;
}

.segundoDivUsoImg .tituloPrincipal,
.terceroDivUsoImg .tituloPrincipal,
.cuartoDivUsoImg .tituloPrincipal,
.cincoDivUsoImg .tituloPrincipal {
    margin: -10vh -7vw 0vh 0vw;
    font-size: 25px;
    line-height: 26px;
}

.primerDivMarco .estrellaDerecha,
.primerDivLenguaje .estrellaDerecha,
.terceroDivLenguaje .estrellaDerecha,
.cuartoDivLenguaje .estrellaDerecha,
.cincoDivLenguaje .estrellaDerecha,
.primerDivAccesImagen .estrellaDerecha,
.cincoDivAccesImagen .estrellaDerecha,
.primerDivUsoImg .estrellaDerecha {
    width: 6%;
    position: relative;
    left: 95px;
    top: -30px;
}

.primerDivLenguaje .estrellaDerecha {
    left: 56px;
}

.terceroDivLenguaje .estrellaDerecha {
    left: 56px;
}

.cuartoDivLenguaje .estrellaDerecha {
    left: 65px;
}

.cincoDivLenguaje .estrellaDerecha {
    width: 8%;
    position: relative;
    top: -30px;
    left: -8px;
}

.primerDivAccesImagen .estrellaDerecha {
    left: 135px;
    top: -20px;
}

.cincoDivAccesImagen .estrellaDerecha {
    left: 105px;
    top: -30px;
}

.primerDivUsoImg .estrellaDerecha {
    left: 125px;
}

.primerDivMarco .estrellaIzquierda,
.primerDivLenguaje .estrellaIzquierda,
.terceroDivLenguaje .estrellaIzquierda,
.cuartoDivLenguaje .estrellaIzquierda,
.primerDivAccesImagen .estrellaIzquierda,
.cincoDivAccesImagen .estrellaIzquierda,
.primerDivUsoImg .estrellaIzquierda {
    width: 7%;
    position: relative;
    left: -100px;
    top: 20px;
}

.primerDivLenguaje .estrellaIzquierda {
    left: -62px;
}

.terceroDivLenguaje .estrellaIzquierda {
    left: -62px;
}

.cuartoDivLenguaje .estrellaIzquierda {
    left: -70px;
}

.cincoDivLenguaje .estrellaIzquierda {
    width: 8%;
    position: relative;
    top: 0px;
    left: 0px;
}

.primerDivAccesImagen .estrellaIzquierda {
    left: -140px;
    top: 20px;
}

.cincoDivAccesImagen .estrellaIzquierda {
    left: -140px;
    top: 20px;
}

.primerDivUsoImg .estrellaIzquierda {
    left: -140px;
    top: 20px;
}

.primerDivMarco article,
.primerDivLenguaje article,
.segundoDivLenguaje article,
.terceroDivLenguaje article,
.cuartoDivLenguaje article,
.cincoDivLenguaje article,
.primerDivAccesImagen article,
.segundoDivAccesImagen article,
.terceroDivAccesImagen article,
.cuartoDivAccesImagen article,
.cincoDivAccesImagen article,
.segundoDivUsoImg article,
.terceroDivUsoImg article,
.cuartoDivUsoImg article,
.cincoDivUsoImg article,
.seisDivUsoImg article  {
    line-height: 18px;
    text-align: justify;
    padding: 0 6vw;
}

.terceroDivLenguaje article,
.primerDivAccesImagen article,
.segundoDivAccesImagen article,
.cuartoDivAccesImagen article,
.cincoDivAccesImagen article,
.primerDivUsoImg article,
.terceroDivUsoImg article,
.cuartoDivUsoImg article,
.cincoDivUsoImg article,
.seisDivUsoImg article {
    padding: 0 8vw;
    margin-bottom: 3vh;
}

.segundoDivLenguaje article,
.terceroDivLenguaje .tituloPrincipal,
.terceroDivLenguaje article,
.cincoDivLenguaje article,
.segundoDivAccesImagen article,
.segundoDivAccesImagen .tituloPrincipal,
.terceroDivAccesImagen .tituloPrincipal,
.terceroDivAccesImagen article,
.cuartoDivAccesImagen .tituloPrincipal,
.cuartoDivAccesImagen article,
.cincoDivAccesImagen article,
.primerDivUsoImg article,
.primerDivUsoImg .tituloPrincipal,
.segundoDivUsoImg article,
.segundoDivUsoImg .tituloPrincipal,
.cuartoDivUsoImg article,
.cuartoDivUsoImg .tituloPrincipal,
.seisDivUsoImg article,
.seisDivUsoImg .tituloPrincipal {
    color: #000000;
}

.cincoDivLenguaje article {
    padding: 0 8vw;
}

.primerDivUsoImg article,
.segundoDivUsoImg article {
    margin-top: 2vh;
    padding: 0 14vw;
}

.segundoDivUsoImg article,
.terceroDivUsoImg article,
.cuartoDivUsoImg article,
.cincoDivUsoImg article,
.seisDivUsoImg article {
    margin-top: 5vh;
    padding: 0 6vw;
    margin-left: 7vw;
}

.primerDivMarco .foto1,
.primerDivLenguaje .foto1,
.segundoDivLenguaje .foto1,
.primerDivAccesImagen .foto1,
.segundoDivAccesImagen .foto1,
.primerDivUsoImg .retrato {
    margin-left: -3vw;
    margin-bottom: -2vh;
    width: 108%;
}

.terceroDivLenguaje .foto1,
.cuartoDivLenguaje .foto1 {
    margin-left: 4vw;
    margin-bottom: -2vh;
    width: 90%;
}

.segundoDivAccesImagen .foto1 {
    margin-top: 6vh;
}

.segundoDivAccesImagen .foto1,
.terceroDivAccesImagen .foto1 {
    margin-left: 4vw;
    margin-bottom: -2vh;
    width: 90%;
}

.cuartoDivAccesImagen .instagram,
.cuartoDivAccesImagen .facebook,
.cuartoDivAccesImagen .twitter {
    width: 30%;
    margin-top: 8vh;
    margin-bottom: 3vh;
}

.segundoDivMarco .foto2 {
    width: 114%;
    margin-left: -6vw;
    margin-top: -4vh;
}

.primerDivUsoImg .retrato {
    margin-top: 5vh;
}

.segundoDivMarco .estrellaRojas {
    width: 6%;
    position: relative;
    top: 10px;
}

.segundoDivMarco .numero {
    font-family: DIN Condensed Bold;
    font-size: 16px;
    width: max-content;
    background-color: #FFF100;
    border-radius: 20px;
    padding: 0 6px;
    margin: 10px 0 10px -40px;
}

.segundoDivMarco .lineaPunteada {
    background-image: url("../../assets/imagenes/RECURSOS MOBILE/PNG INTRODUCCIÓN/Marco Normativo/005.Línea punteada.png");
    background-size: auto;
    background-repeat: repeat-y;
    background-position: left;
    margin-left: 11vw;
    padding: 0 4vw 0 4vw;
}

.segundoDivMarco .lineaPunteada .accordion {
    margin-bottom: 15px;
}

.segundoDivMarco .lineaPunteada .accordion-button:not(.collapsed) {
    font-family: DIN Condensed Bold;
    color: #000000;
    font-weight: 900;
    background-color: #ffff;
    box-shadow: none;
}

.segundoDivMarco .lineaPunteada .accordion-button {
    background-color: #fff;
    font-family: DIN Condensed Bold;
    border-radius: 0;
    padding: 8px;
}

.segundoDivMarco .lineaPunteada .accordion-button:focus {
    z-index: 3;
    border-color: #000000;
    box-shadow: none;
}

.segundoDivMarco .lineaPunteada .accordion-button::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: 10px;
    font-family: FontAwesome;
    content: "\2b";
    background-image: none;
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform .2s ease-in-out;
}

.segundoDivMarco .lineaPunteada .accordion-button:not(.collapsed)::after {
    font-family: FontAwesome;
    content: "\f068";
    background-image: none;
    transform: none;
}

.segundoDivMarco .lineaPunteada .accordion-item {
    background-color: #fff;
    border-radius: 0;
    border: 2px solid #000000;
    font-weight: 500;
}

.segundoDivMarco .lineaPunteada .accordion-item .accordion-body {
    padding: 0 8px 8px 8px;
    line-height: 16px;
    font-size: 14px;
}

.segundoDivMarco .lineaPunteada .accordion-item .accordion-body a {
    font-weight: 900;
    color: #F7931D;
    text-decoration: none;
}

.segundoDivLenguaje article .fondoUno {
    background-color: #CADB2A;
    padding: 5% 10% 10% 10%;
    margin-bottom: 3vh;
    text-align: start;
}

.segundoDivLenguaje article .fondoDos {
    background-color: #1B75BB;
    color: #ffff;
    padding: 5% 10% 10% 10%;
    margin-bottom: 3vh;
    text-align: start;
}

.segundoDivLenguaje article .fondoUno h1,
.segundoDivLenguaje article .fondoDos h1 {
    font-family: DIN Condensed Bold;
}

.DivRecomendaciones.color {
    background-color: #237D34;
}

#cajaHerramientaModal .DivRecomendaciones .modal-body .contentInfo,
#cajaHerramientaModal .DivLenguajeDos .modal-body .contentInfo,
#cajaHerramientaModal .DivElaboracionV .modal-body .contentInfo {
    width: 100%;
    margin-left: 0;
    padding: 0 6vw;
}

.DivRecomendaciones .item,
.DivLenguajeDos .item,
.DivAccesibilidadTxt .item,
.DivElaboracionV .item {
    color: #ffff;
}

.DivRecomendaciones .tituloPrincipal,
.DivLenguajeDos .tituloPrincipal,
.DivAccesibilidadTxt .tituloPrincipal,
.DivElaboracionV .tituloPrincipal {
    font-family: DIN Condensed Bold;
    font-size: 26px;
}

.DivRecomendaciones .tituloPrincipal {
    padding: 0 10vw;
    line-height: 22px;
}

.DivRecomendaciones .estrellaDerecha,
.DivLenguajeDos .estrellaDerecha,
.DivAccesibilidadTxt .estrellaDerecha,
.DivElaboracionV .estrellaDerecha {
    width: 5%;
    position: relative;
    left: 90px;
    top: -20px;
}

.DivLenguajeDos .estrellaDerecha {
    left: 95px;
    top: -30px;
}

.DivAccesibilidadTxt .estrellaDerecha {
    left: 115px;
    top: -25px;
}

.DivElaboracionV .estrellaDerecha {
    left: 115px;
    top: -30px;
}

.DivRecomendaciones .estrellaIzquierda,
.DivLenguajeDos .estrellaIzquierda,
.DivAccesibilidadTxt .estrellaIzquierda,
.DivElaboracionV .estrellaIzquierda {
    width: 6%;
    position: relative;
    left: -115px;
    top: 26px;
}

.DivLenguajeDos .estrellaIzquierda {
    left: -112px;
    top: 28px;
}

.DivAccesibilidadTxt .estrellaIzquierda {
    left: -122px;
    top: 30px;
}

.DivElaboracionV .estrellaIzquierda {
    left: -135px;
    top: 26px;
}

.DivRecomendaciones article,
.DivLenguajeDos article,
.DivAccesibilidadTxt article,
.segundoDivAccesImagen article,
.DivElaboracionV article {
    line-height: 18px;
    text-align: justify;
    padding: 0 7vw;
}

.segundoDivAccesImagen article {
    padding: 0 10vw;
}

.DivElaboracionV article {
    padding: 0 10vw;
}

.DivRecomendaciones .foto1 {
    width: 110%;
}

.DivLenguajeDos .foto1,
.DivElaboracionV .foto1 {
    width: 100%;
}

.DivLenguajeDos footer,
.DivElaboracionV footer {
    margin-top: 10vh;
}

.DivAccesibilidadTxt .foto1 {
    width: 130%;
    margin-left: -12vw;
}

.DivElaboracionV .foto1 {
    margin-left: -1vw;
}

.DivAccesibilidadTxt .itemSlider .foto1 {
    width: 100%;
    margin-left: 0;
}

.DivAccesibilidadTxt .itemSlider .foto1.segundo {
    margin-left: -1vw;
}

.DivAccesibilidadTxt .itemSlider .foto1.tercero {
    width: 88%;
    margin-left: 4vw;
}

.DivAccesibilidadTxt .itemSlider .foto1.cuarto {
    width: 86%;
    margin-left: 10vw;
    margin-top: 4vh;
}

.DivLenguajeDos .nube {
    width: 105%;
    position: relative;
    top: -21vh;
    left: -1vw;
}

.DivRecomendaciones .owl-theme,
.DivLenguajeDos .owl-theme {
    margin-bottom: -2vh;
}

.DivRecomendaciones .itemSlider header {
    margin-top: -3vh;
    margin-bottom: 3vh;
}

.DivRecomendaciones .itemSlider .interImg {
    margin-top: 1vh;
    ;
}

.DivRecomendaciones .itemSlider .imgItemS {
    width: 70%;
}

.DivRecomendaciones .itemSlider article {
    padding: 0 5vw;
    color: #000000;
}

.DivAccesibilidadTxt .itemSlider article {
    padding: 0 8vw;
    color: #000000;
}

.DivLenguajeDos .itemSlider .imgEstrellaI,
.DivElaboracionV .itemSlider .imgEstrellaI,
.segundoDivUsoImg .imgEstrellaI,
.terceroDivUsoImg .imgEstrellaI,
.cuartoDivUsoImg .imgEstrellaI,
.cincoDivUsoImg .imgEstrellaI,
.seisDivUsoImg .imgEstrellaI {
    width: 12%;
    padding: 0 0 8vh 2vw;
}

.DivElaboracionV .itemSlider .imgEstrellaI {
    padding-bottom: 2vh;
}

.DivLenguajeDos .itemSlider .imgEstrellaD,
.DivElaboracionV .itemSlider .imgEstrellaD,
.segundoDivUsoImg .imgEstrellaD,
.terceroDivUsoImg .imgEstrellaD,
.cuartoDivUsoImg .imgEstrellaD,
.cincoDivUsoImg .imgEstrellaD,
.seisDivUsoImg .imgEstrellaD {
    width: 14%;
    padding-right: 2vw;
}

.segundoDivUsoImg .imgEstrellaD,
.terceroDivUsoImg .imgEstrellaD,
.cuartoDivUsoImg .imgEstrellaD,
.cincoDivUsoImg .imgEstrellaD,
.seisDivUsoImg .imgEstrellaD {
    margin-top: -6vh;
    margin-bottom: 4vh;
}

.DivLenguajeDos .itemSlider article,
.DivElaboracionV .itemSlider article {
    padding: 0 12vw;
    color: #000000;
    line-height: 18px;
}

.DivRecomendaciones .itemSlider article .tituloSlider {
    margin-left: -2px;
    margin-bottom: -3px;
    text-align: left;
    font-family: DIN Condensed Bold;
    line-height: 24px;
}

.DivLenguajeDos .itemSlider article .tituloSlider {
    text-align: left;
    font-family: DIN Condensed Bold;
    line-height: 24px;
}

.DivAccesibilidadTxt .itemSlider article .tituloSlider {
    text-align: left;
    font-family: DIN Condensed Bold;
    margin-bottom: 2vh;
}

.DivElaboracionV .itemSlider article .tituloSlider {
    text-align: left;
    font-family: DIN Condensed Bold;
    margin-bottom: 6vh;
    font-size: 34px;
}

.DivRecomendaciones .itemSlider article p {
    margin-bottom: -2px;
}

.DivElaboracionV .itemSlider article .text-center p {
    font-size: 14px;
}

.DivRecomendaciones .itemSlider article p::before {
    content: ' ';
    background-image: url("../../assets/imagenes/RECURSOS MOBILE/PNG INTRODUCCIÓN/Recomendaciones para la implementación del enfoque de género/011.Estrella verde.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    width: 10px;
    height: 20px;
    position: relative;
    left: -4vw;
    top: 2vh;
}

.DivLenguajeDos .itemSlider article div>.False,
.segundoDivUsoImg article .infoInterna .False,
.terceroDivUsoImg article .infoInterna .False,
.cuartoDivUsoImg article .infoInterna .False,
.cincoDivUsoImg article .infoInterna .False,
.seisDivUsoImg article .infoInterna .False {
    content: ' ';
    background-image: url("../../assets/imagenes/RECURSOS MOBILE/PNG LENGUAJE/009. No usar_Mesa de trabajo 1 copia 2.png");
    background-size: 80%;
    background-repeat: no-repeat;
    display: block;
    width: 42px;
    height: 42px;
    position: relative;
    top: 5vh;
}

.DivLenguajeDos .itemSlider article div>.True,
.segundoDivUsoImg article .infoInterna .True,
.terceroDivUsoImg article .infoInterna .True,
.cuartoDivUsoImg article .infoInterna .True,
.cincoDivUsoImg article .infoInterna .True,
.seisDivUsoImg article .infoInterna .True {
    content: ' ';
    background-image: url("../../assets/imagenes/RECURSOS MOBILE/PNG LENGUAJE/010. Usar_Mesa de trabajo 1 copia 2.png");
    background-size: 90%;
    background-repeat: no-repeat;
    display: block;
    width: 42px;
    height: 42px;
    position: relative;
    top: 5vh;
}

.DivLenguajeDos .itemSlider article img {
    width: 130%;
    margin-left: -10vw;
    margin-top: 12vh;
}

.DivLenguajeDos .itemSlider article .personaCharlando {
    width: 144%;
    margin-left: -15vw;
}

.DivElaboracionV .itemSlider article img {
    width: 130%;
    margin-left: -10vw;
    margin-top: 12vh;
}

.DivElaboracionV .itemSlider article .itemTres {
    width: 151%;
    margin-left: -12vw;
    margin-top: 10vh;
}

.DivElaboracionV .itemSlider article .imgInterna {
    width: 56%;
    margin: 5vh 0 2vh 2vw;
}

.DivRecomendaciones .owl-theme .owl-controls .owl-page span,
.DivLenguajeDos .owl-theme .owl-controls .owl-page span {
    background-color: #FFF100;
}

.DivAccesibilidadTxt .owl-theme .owl-controls .owl-page span {
    background-color: #C63D96;
}

.DivLenguajeDos .itemSlider article .divCuarto>div,
.DivLenguajeDos .itemSlider article .divCinco>div {
    font-size: 12px;
    margin-bottom: 10px;
    line-height: 14px;
}

.DivLenguajeDos .itemSlider article .divCuarto>div>.no {
    color: #EE3A4F;
    font-family: Myriad Pro Bold;
}

.DivLenguajeDos .itemSlider article .divCuarto>div>.si {
    color: #237D34;
    font-family: Myriad Pro Bold;
}

.DivLenguajeDos .itemSlider article .divCuarto strong {
    line-height: 14px;
}

.DivLenguajeDos .itemSlider .contentInfo .opcionA {
    color: #CADB2A;
    margin-bottom: 5vh;
}

.DivLenguajeDos .itemSlider .articleOpcionA {
    padding: 0 8vw;
}

.DivLenguajeDos .itemSlider .contentInfo .bombilloLenguaje {
    width: 12%;
    position: relative;
    left: -130px;
    top: 26px;
}

.DivLenguajeDos .foto1.opcionA {
    width: 92%;
}

.DivLenguajeDos .itemSlider .articleSeis {
    text-align: left;
}

.DivLenguajeDos .itemSlider article .divSeis>div {
    font-size: 12px;
}

.DivLenguajeDos .itemSlider article .divSeis {
    line-height: 14px;
    font-style: italic;
}

.DivLenguajeDos .itemSlider article .divSeis .divBefore div {
    margin-left: 5vw;
    margin-top: -2vh;
}

.DivLenguajeDos .itemSlider article .divSeis .divBefore div::before {
    content: ' ';
    background-image: url("../../assets/imagenes/RECURSOS MOBILE/PNG LENGUAJE/0033. Estrella verde.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    width: 10px;
    height: 20px;
    position: relative;
    left: -4vw;
    top: 2vh;
}

.terceroDivLenguaje article .startBefore::before {
    content: ' ';
    background-image: url("../../assets/imagenes/RECURSOS MOBILE/PNG LENGUAJE/009. Estrella negra sola.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    width: 10px;
    height: 20px;
    position: relative;
    left: -4vw;
    top: 2vh;
}

.cuartoDivLenguaje article .startBefore::before {
    content: ' ';
    background-image: url("../../assets/imagenes/RECURSOS MOBILE/PNG LENGUAJE/0010. Estrella blanca sola.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    width: 10px;
    height: 20px;
    position: relative;
    left: -4vw;
    top: 2vh;
}

.DivAccesibilidadTxt .itemSlider article .contentVineta {
    margin: -2vh 0 4vh 4vw;
}

.DivAccesibilidadTxt .itemSlider article .vinetaBeforeS {
    margin: -2vh 0 1vh 4vw;
}

.DivAccesibilidadTxt .itemSlider article .vinetaBefore::before {
    content: ' ';
    background-image: url("../../assets/imagenes/RECURSOS MOBILE/PNG ACCESIBILIDAD/Accesibilidad en textos/006_Chispa amarilla.png");
    background-size: 90%;
    background-repeat: no-repeat;
    display: block;
    width: 15px;
    height: 16px;
    position: relative;
    left: -5vw;
    top: 2vh;
}

.DivAccesibilidadTxt .itemSlider article div .rojo {
    margin-bottom: 1vh;
    color: #C63D96;
    font-family: DIN Condensed Bold;
}

.DivAccesibilidadTxt .itemSlider article div a {
    color: #F7931D;
    text-decoration: none;
}

.DivAccesibilidadTxt .itemSlider article .vinetaBeforeS::before {
    content: ' ';
    background-image: url("../../assets/imagenes/RECURSOS MOBILE/PNG ACCESIBILIDAD/Accesibilidad en textos/005_Chispa roja.png");
    background-size: 90%;
    background-repeat: no-repeat;
    display: block;
    width: 15px;
    height: 16px;
    position: relative;
    left: -5vw;
    top: 2vh;
}

.segundoDivAccesImagen article .vinetaBeforeS::before {
    content: ' ';
    background-image: url("../../assets/imagenes/RECURSOS MOBILE/PNG ACCESIBILIDAD/Accesibilidad en textos/005_Chispa roja.png");
    background-size: 90%;
    background-repeat: no-repeat;
    display: block;
    width: 15px;
    height: 16px;
    position: relative;
    left: -5vw;
    top: 2vh;
}

.cuartoDivAccesImagen article .text-center div a {
    color: #000000;
}

.cincoDivAccesImagen article .vinetaBeforeT::before {
    content: ' ';
    background-image: url("../../assets/imagenes/RECURSOS MOBILE/PNG ACCESIBILIDAD/Accesibilidad en imágenes/010.Estrella fucsia.png");
    background-size: 50%;
    background-repeat: no-repeat;
    display: block;
    width: 18px;
    height: 15px;
    position: relative;
    left: -5vw;
    top: 2vh;
}

.DivElaboracionV .itemSlider article .text-center a {
    cursor: pointer;
    color: #ffff;
    padding: 22px;
    font-family: DIN Condensed Bold;
    font-size: 14px;
    background-size: 100%;
    width: 62%;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 999;
    line-height: 16px;
    background-image: url("../../assets/imagenes/RECURSOS MOBILE/PNG MATERIAL AUDIOVISUAL/Recomendaciones uso video/008.Boton.png");
}

.segundoDivUsoImg article .infoInterna .pFalse,
.segundoDivUsoImg article .infoInterna .pTrue,
.terceroDivUsoImg article .infoInterna .pTrue,
.terceroDivUsoImg article .infoInterna .pFalse,
.cuartoDivUsoImg article .infoInterna .pTrue,
.cuartoDivUsoImg article .infoInterna .pFalse,
.cincoDivUsoImg article .infoInterna .pTrue,
.cincoDivUsoImg article .infoInterna .pFalse,
.seisDivUsoImg article .infoInterna .pTrue,
.seisDivUsoImg article .infoInterna .pFalse {
    text-align: start;
}

.segundoDivUsoImg article .infoInterna .imgPoster,
.terceroDivUsoImg article .infoInterna .imgPoster,
.cuartoDivUsoImg article .infoInterna .imgPoster,
.cincoDivUsoImg article .infoInterna .imgPoster,
.seisDivUsoImg article .infoInterna .imgPoster {
    margin-bottom: 4vh;
}

.segundoDivUsoImg article .infoInterna .imgPoster.imgUno,
.terceroDivUsoImg article .infoInterna .imgPoster.imgUno,
.terceroDivUsoImg article .infoInterna .imgPoster.imgDos,
.cuartoDivUsoImg article .infoInterna .imgPoster.imgUno,
.cuartoDivUsoImg article .infoInterna .imgPoster.imgDos,
.cincoDivUsoImg article .infoInterna .imgPoster.imgUno,
.cincoDivUsoImg article .infoInterna .imgPoster.imgDos,
.seisDivUsoImg article .infoInterna .imgPoster.imgUno {
    width: 100%;
}

.segundoDivUsoImg article .infoInterna .imgPoster.imgDos {
    width: 76%;
}

.seisDivUsoImg article .infoInterna .imgPoster.imgDos {
    width: 84%;
}
