.modal-dialog {
    -webkit-box-shadow: 0px 0px 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.modal .modal-content .btnClose {
    position: relative;
    top: 1vh;
    left: 86vw;
    opacity: 1;
    font-size: 30px;
}

.modal .modal-content {
    border-radius: 0;
    border: unset;
    margin-bottom: -1vh;
}

.modal-open {
    overflow: hidden;
}

.modal-content.primerDivMarco {
    background-color: #EE3A4F;
}

.modal-content.primerDivLenguaje,
.modal-content.cuartoDivLenguaje,
.modal-content.primerRecomendacionTres {
    background-color: #1B75BB;
}

.modal-content.terceroDivLenguaje,
.modal-content.cincoDivAccesImagen {
    background-color: #CADB2A;
}

.modal-content.primerDivAccesImagen,
.modal-content.primerDivEvaluacionM {
    background-color: #237D34;
}

.modal-content.primerDivUsoImg {
    background-color: #F7931D;
}

.modal-content.terceroDivUsoImg,
.modal-content.cincoDivUsoImg,
.modal-content.seisRecomendacionDos,
.modal-content.ochoRecomendacionDos {
    background-color: #1B2F72;
}

.modal-content.primerRecomendacionDos,
.modal-content.sieteRecomendacionDos,
.modal-content.nueveRecomendacionDos {
    background-color: #C63D96;
}

.modal-content.primerDivGlosario {
    background-color: #EE3A4F;
}

.terceroDivLenguaje .modal-body,
.cuartoDivLenguaje .modal-body,
.cincoDivLenguaje .modal-body,
.primerDivAccesImagen .modal-body,
.segundoDivAccesImagen .modal-body,
.terceroDivAccesImagen .modal-body,
.segundoDivUsoImg .modal-body,
.terceroDivUsoImg .modal-body,
.cuartoDivUsoImg .modal-body,
.cincoDivUsoImg .modal-body,
.seisDivUsoImg .modal-body,
.primerDivEvaluacionM .modal-body,
.primerRecomendacionTres .modal-body,
.DivRecomendacionUno .modal-body,
.primerDivBibliografia .modal-body {
    margin-top: 4vh;
}

.segundoDivAccesImagen .modal-body,
.terceroDivAccesImagen .modal-body,
.cuartoDivAccesImagen .modal-body,
.cincoDivAccesImagen .modal-body,
.primerDivUsoImg .modal-body,
.segundoDivEvaluacionM .modal-body,
.terceroDivEvaluacionM .modal-body,
.segundoRecomendacionDos .modal-body,
.seisRecomendacionDos .modal-body,
.sieteRecomendacionDos .modal-body,
.ochoRecomendacionDos .modal-body,
.nueveRecomendacionDos .modal-body,
.segundoRecomendacionTres .modal-body,
.DivElaboracionV .modal-body {
    margin-top: 8vh;
}

.terceroDivAccesImagen .modal-body,
.primerRecomendacionDos .modal-body,
.primerDivGlosario .modal-body {
    margin-top: 12vh;
}

.primerDivMarco .tituloPrincipal,
.primerDivLenguaje .tituloPrincipal,
.segundoDivLenguaje .tituloPrincipal,
.terceroDivLenguaje .tituloPrincipal,
.cuartoDivLenguaje .tituloPrincipal,
.primerDivAccesImagen .tituloPrincipal,
.segundoDivAccesImagen .tituloPrincipal,
.terceroDivAccesImagen .tituloPrincipal,
.cuartoDivAccesImagen .tituloPrincipal,
.cincoDivAccesImagen .tituloPrincipal,
.primerDivUsoImg .tituloPrincipal,
.segundoDivUsoImg .tituloPrincipal,
.terceroDivUsoImg .tituloPrincipal,
.cuartoDivUsoImg .tituloPrincipal,
.cincoDivUsoImg .tituloPrincipal,
.seisDivUsoImg .tituloPrincipal,
.primerDivEvaluacionM .tituloPrincipal,
.segundoDivEvaluacionM .tituloPrincipal,
.terceroDivEvaluacionM .tituloPrincipal,
.DivRecomendacionUno .tituloPrincipal,
.primerRecomendacionDos .tituloPrincipal,
.segundoRecomendacionDos .tituloPrincipal,
.terceroRecomendacionDos .tituloPrincipal,
.cincoRecomendacionDos .tituloPrincipal,
.seisRecomendacionDos .tituloPrincipal,
.sieteRecomendacionDos .tituloPrincipal,
.ochoRecomendacionDos .tituloPrincipal,
.nueveRecomendacionDos .tituloPrincipal,
.primerRecomendacionTres .tituloPrincipal,
.segundoRecomendacionTres .tituloPrincipal,
.primerDivGlosario .tituloPrincipal,
.primerDivBibliografia .tituloPrincipal,
.segundoDivBibliografia .tituloPrincipal,
.terceroDivBibliografia .tituloPrincipal {
    font-family: DIN Condensed Bold;
    font-size: 28px;
    line-height: 28px;
}

.segundoDivLenguaje .tituloPrincipal {
    color: #C63D96;
    margin: 7vh -7vw 3vh -7vw;
}

.terceroDivLenguaje .tituloPrincipal {
    font-size: 32px;
}

.cuartoDivAccesImagen .tituloPrincipal,
.cincoDivAccesImagen .tituloPrincipal {
    font-size: 24px;
    line-height: 26px;
}

.cincoRecomendacionDos .tituloPrincipal.opcionA {
    color: #EE3A4F;
    margin-left: 28vw;
    margin-bottom: 4vh;
}

.seisRecomendacionDos .tituloPrincipal,
.sieteRecomendacionDos .tituloPrincipal,
.ochoRecomendacionDos .tituloPrincipal,
.nueveRecomendacionDos .tituloPrincipal {
    color: #CADB2A;
    margin-bottom: 2vh;
}

.primerDivAccesImagen .tituloPrincipal,
.segundoDivAccesImagen .tituloPrincipal,
.terceroDivAccesImagen .tituloPrincipal,
.cuartoDivAccesImagen .tituloPrincipal,
.cincoDivAccesImagen .tituloPrincipal,
.primerRecomendacionDos .tituloPrincipal,
.segundoRecomendacionTres .tituloPrincipal,
.DivElaboracionV .tituloPrincipal,
.primerDivBibliografia .tituloPrincipal,
.segundoDivBibliografia .tituloPrincipal,
.terceroDivBibliografia .tituloPrincipal,
.DivRecomendaciones .tituloPrincipal {
    margin: 0 -7vw;
}

.segundoDivAccesImagen .tituloPrincipal,
.terceroDivAccesImagen .tituloPrincipal {
    margin-bottom: 2vh;
    line-height: 28px;
}

.cincoDivAccesImagen .tituloPrincipal {
    margin-bottom: 2vh;
    color: #C63D96;
}

.segundoDivUsoImg .tituloPrincipal,
.terceroDivUsoImg .tituloPrincipal,
.cuartoDivUsoImg .tituloPrincipal,
.cincoDivUsoImg .tituloPrincipal {
    margin: -10vh -7vw 0vh 0vw;
    font-size: 25px;
    line-height: 26px;
}

.segundoDivEvaluacionM .tituloPrincipal,
.terceroDivEvaluacionM .tituloPrincipal {
    margin-left: -2vw;
}

.segundoRecomendacionDos .tituloPrincipal {
    margin: 0 -8vw;
}

.segundoRecomendacionTres .tituloPrincipal {
    margin-bottom: 4vh;
}

.segundoDivBibliografia .tituloPrincipal {
    margin-top: 3vh;
}

.terceroDivBibliografia .tituloPrincipal {
    margin-bottom: 2vh;
}

.segundoDivBibliografia .segundo .tituloPrincipal {
    margin-top: 5vh;
}

.primerDivMarco .estrellaDerecha,
.primerDivLenguaje .estrellaDerecha,
.terceroDivLenguaje .estrellaDerecha,
.cuartoDivLenguaje .estrellaDerecha,
.cincoDivLenguaje .estrellaDerecha,
.primerDivAccesImagen .estrellaDerecha,
.cincoDivAccesImagen .estrellaDerecha,
.primerDivUsoImg .estrellaDerecha,
.primerDivEvaluacionM .estrellaDerecha,
.primerRecomendacionDos .estrellaDerecha,
.primerRecomendacionTres .estrellaDerecha,
.primerDivGlosario .estrellaDerecha,
.primerDivBibliografia .estrellaDerecha,
.segundoDivBibliografia .estrellaDerecha,
.terceroDivBibliografia .estrellaDerecha {
    width: 6%;
    position: relative;
    left: 95px;
    top: -30px;
}

.primerDivLenguaje .estrellaDerecha {
    left: 56px;
}

.terceroDivLenguaje .estrellaDerecha {
    left: 56px;
}

.cuartoDivLenguaje .estrellaDerecha {
    left: 65px;
}

.cincoDivLenguaje .estrellaDerecha {
    width: 8%;
    position: relative;
    top: -30px;
    left: -8px;
}

.primerDivAccesImagen .estrellaDerecha {
    left: 135px;
    top: -20px;
}

.cincoDivAccesImagen .estrellaDerecha {
    left: 105px;
    top: -30px;
}

.primerDivUsoImg .estrellaDerecha {
    left: 125px;
}

.primerDivEvaluacionM .estrellaDerecha {
    left: 75px;
}

.primerRecomendacionDos .estrellaDerecha {
    left: 85px;
    top: -20px;
}

.primerRecomendacionTres .estrellaDerecha {
    left: 75px;
}

.primerDivGlosario .estrellaDerecha {
    left: 55px;
}

.primerDivBibliografia .estrellaDerecha {
    left: 134px;
    top: -16px;
}

.segundoDivBibliografia .estrellaDerecha {
    left: 118px;
    top: -16px;
}

.terceroDivBibliografia .estrellaDerecha {
    left: 110px;
    top: -30px;
}

.primerDivMarco .estrellaIzquierda,
.primerDivLenguaje .estrellaIzquierda,
.terceroDivLenguaje .estrellaIzquierda,
.cuartoDivLenguaje .estrellaIzquierda,
.primerDivAccesImagen .estrellaIzquierda,
.cincoDivAccesImagen .estrellaIzquierda,
.primerDivUsoImg .estrellaIzquierda,
.primerDivEvaluacionM .estrellaIzquierda,
.primerRecomendacionDos .estrellaIzquierda,
.primerRecomendacionTres .estrellaIzquierda,
.primerDivGlosario .estrellaIzquierda,
.primerDivBibliografia .estrellaIzquierda,
.segundoDivBibliografia .estrellaIzquierda,
.terceroDivBibliografia .estrellaIzquierda {
    width: 7%;
    position: relative;
    left: -100px;
    top: 20px;
}

.primerDivLenguaje .estrellaIzquierda {
    left: -62px;
}

.terceroDivLenguaje .estrellaIzquierda {
    left: -62px;
}

.cuartoDivLenguaje .estrellaIzquierda {
    left: -70px;
}

.cincoDivLenguaje .estrellaIzquierda {
    width: 8%;
    position: relative;
    top: 0px;
    left: 0px;
}

.primerDivAccesImagen .estrellaIzquierda {
    left: -140px;
    top: 20px;
}

.cincoDivAccesImagen .estrellaIzquierda {
    left: -140px;
    top: 20px;
}

.primerDivUsoImg .estrellaIzquierda {
    left: -140px;
    top: 20px;
}

.primerDivEvaluacionM .estrellaIzquierda {
    left: -70px;
}

.primerRecomendacionDos .estrellaIzquierda {
    left: -140px;
    top: 20px;
}

.primerRecomendacionTres .estrellaIzquierda {
    left: -130px;
}

.primerDivGlosario .estrellaIzquierda {
    left: -60px;
}

.primerDivBibliografia .estrellaIzquierda {
    left: -135px;
}

.segundoDivBibliografia .estrellaIzquierda {
    left: -125px;
    top: 45px;
}

.segundoDivBibliografia .segundo .estrellaIzquierda {
    left: -130px;
    top: 65px;
}

.terceroDivBibliografia .estrellaIzquierda {
    left: -112px;
    top: 20px;
}

.primerDivMarco article,
.primerDivLenguaje article,
.segundoDivLenguaje article,
.terceroDivLenguaje article,
.cuartoDivLenguaje article,
.cincoDivLenguaje article,
.primerDivAccesImagen article,
.segundoDivAccesImagen article,
.terceroDivAccesImagen article,
.cuartoDivAccesImagen article,
.cincoDivAccesImagen article,
.primerDivUsoImg article,
.segundoDivUsoImg article,
.terceroDivUsoImg article,
.cuartoDivUsoImg article,
.cincoDivUsoImg article,
.seisDivUsoImg article,
.primerDivEvaluacionM article,
.segundoDivEvaluacionM article,
.terceroDivEvaluacionM article,
.primerRecomendacionDos article,
.segundoRecomendacionDos article,
.terceroRecomendacionDos article,
.cuartoRecomendacionDos article,
.cincoRecomendacionDos article,
.seisRecomendacionDos article,
.sieteRecomendacionDos article,
.ochoRecomendacionDos article,
.nueveRecomendacionDos article,
.primerRecomendacionTres article,
.segundoRecomendacionTres article,
.primerDivGlosario article,
.segundoDivGlosario article,
.primerDivBibliografia article,
.segundoDivBibliografia article,
.terceroDivBibliografia article {
    line-height: 18px;
    text-align: justify;
    padding: 0 6vw;
}

.terceroDivLenguaje article,
.primerDivAccesImagen article,
.segundoDivAccesImagen article,
.cuartoDivAccesImagen article,
.cincoDivAccesImagen article,
.primerDivUsoImg article,
.terceroDivUsoImg article,
.cuartoDivUsoImg article,
.cincoDivUsoImg article,
.seisDivUsoImg article,
.segundoDivEvaluacionM article,
.terceroDivEvaluacionM article {
    padding: 0 8vw;
    margin-bottom: 3vh;
}

.segundoDivLenguaje article,
.terceroDivLenguaje .tituloPrincipal,
.terceroDivLenguaje article,
.cincoDivLenguaje article,
.segundoDivAccesImagen article,
.segundoDivAccesImagen .tituloPrincipal,
.terceroDivAccesImagen .tituloPrincipal,
.terceroDivAccesImagen article,
.cuartoDivAccesImagen .tituloPrincipal,
.cuartoDivAccesImagen article,
.cincoDivAccesImagen article,
.primerDivUsoImg article,
.primerDivUsoImg .tituloPrincipal,
.segundoDivUsoImg article,
.segundoDivUsoImg .tituloPrincipal,
.cuartoDivUsoImg article,
.cuartoDivUsoImg .tituloPrincipal,
.seisDivUsoImg article,
.seisDivUsoImg .tituloPrincipal,
.segundoDivEvaluacionM article,
.segundoDivEvaluacionM .tituloPrincipal,
.terceroDivEvaluacionM article,
.terceroDivEvaluacionM .tituloPrincipal,
.segundoRecomendacionDos article,
.segundoRecomendacionDos .tituloPrincipal,
.terceroRecomendacionDos article,
.terceroRecomendacionDos .tituloPrincipal,
.cuartoRecomendacionDos article,
.cuartoRecomendacionDos .tituloPrincipal,
.cuartoRecomendacionDos article,
.cuartoRecomendacionDos .tituloPrincipal,
.cincoRecomendacionDos article,
.cincoRecomendacionDos .tituloPrincipal,
.segundoRecomendacionTres .tituloPrincipal,
.segundoRecomendacionTres article,
.primerDivBibliografia .tituloPrincipal,
.primerDivBibliografia article,
.segundoDivBibliografia .tituloPrincipal,
.segundoDivBibliografia article,
.terceroDivBibliografia .tituloPrincipal,
.terceroDivBibliografia article {
    color: #000000;
}

.cincoDivLenguaje article,
.segundoDivGlosario article,
.primerDivBibliografia article,
.segundoDivBibliografia article,
.terceroDivBibliografia article {
    padding: 0 8vw;
}

.primerDivUsoImg article,
.segundoDivUsoImg article,
.primerDivEvaluacionM article,
.primerDivGlosario article {
    margin-top: 2vh;
    padding: 0 14vw;
}

.segundoDivUsoImg article,
.terceroDivUsoImg article,
.cuartoDivUsoImg article,
.cincoDivUsoImg article,
.seisDivUsoImg article {
    margin-top: 5vh;
    padding: 0 6vw;
    margin-left: 7vw;
}

.segundoDivEvaluacionM article,
.terceroDivEvaluacionM article {
    padding: 0 10vw;
}

.primerRecomendacionDos article {
    padding: 0 7.7vw;
    margin-top: 3vh;
    margin-bottom: 10vh;
}

.segundoDivEvaluacionM article p,
.terceroDivEvaluacionM article p {
    margin-top: 3vh;
}

.primerRecomendacionTres article p {
    font-family: Myriad Pro Italic;
}

.segundoRecomendacionDos article {
    padding: 0 7vw;
}

.cincoRecomendacionDos article {
    padding: 0 9vw;
}

.primerDivGlosario article {
    padding: 0 13vw;
}

.primerDivBibliografia article,
.segundoDivBibliografia article,
.terceroDivBibliografia article {
    text-align: start;
}

.segundoRecomendacionDos article h2,
.terceroRecomendacionDos article h2,
.cuartoRecomendacionDos article h2 {
    margin-top: 5vh;
    margin-bottom: 0vh;
    color: #C63D96;
}

.cincoRecomendacionDos article p {
    font-weight: bolder;
}

.segundoDivGlosario article p span {
    color: #EE3A4F;
    font-family: Myriad Pro Bold;
}

.segundoDivGlosario article p .number {
    color: #1B75BB;
    font-family: Myriad Pro Bold;
}

.primerRecomendacionTres article .nombre {
    font-family: Myriad Pro Italic;
    margin-bottom: 3vh;
}

.primerDivMarco .foto1,
.primerDivLenguaje .foto1,
.segundoDivLenguaje .foto1,
.primerDivAccesImagen .foto1,
.segundoDivAccesImagen .foto1,
.primerDivUsoImg .retrato,
.primerDivEvaluacionM .foto1 {
    margin-left: -3vw;
    margin-bottom: -1vh;
    width: 108%;
}

.terceroDivLenguaje .foto1,
.cuartoDivLenguaje .foto1 {
    margin-left: 4vw;
    margin-bottom: -2vh;
    width: 90%;
}

.segundoDivAccesImagen .foto1 {
    margin-top: 6vh;
}

.segundoDivAccesImagen .foto1,
.terceroDivAccesImagen .foto1 {
    margin-left: 4vw;
    margin-bottom: 0vh;
    width: 90%;
}

.segundoDivEvaluacionM .foto1 {
    width: 94%;
    margin-left: 4vw;
    margin-bottom: -2vh;
}

.terceroDivEvaluacionM .foto1 {
    width: 84%;
    margin: 4vh 0 -2vh 6vw;
}

.cuartoDivAccesImagen .instagram,
.cuartoDivAccesImagen .facebook,
.cuartoDivAccesImagen .twitter {
    width: 30%;
    margin-top: 8vh;
    margin-bottom: 3vh;
}

.segundoDivMarco .foto2 {
    width: 114%;
    margin-left: -6vw;
    margin-top: -4vh;
    margin-bottom: -2vh;
}

.primerDivUsoImg .retrato {
    margin-top: 5vh;
}

.primerDivEvaluacionM .foto1 {
    margin-top: 4vh;
}

.segundoDivMarco .estrellaRojas {
    width: 6%;
    position: relative;
    top: 10px;
}

.primerRecomendacionDos .foto1 {
    margin-left: -3vw;
    margin-bottom: -1vh;
    width: 110%;
}

.segundoRecomendacionDos .foto1,
.terceroRecomendacionDos .foto1,
.cuartoRecomendacionDos .foto1 {
    margin-left: 20vw;
    margin-bottom: -1vh;
    width: 60%;
}

.terceroRecomendacionDos .foto1,
.cuartoRecomendacionDos .foto1 {
    margin-left: 8vw;
    width: 85%;
}

.cuartoRecomendacionDos .foto1 {
    margin-bottom: 2vh;
}

.seisRecomendacionDos .foto1,
.sieteRecomendacionDos .foto1,
.ochoRecomendacionDos .foto1,
.nueveRecomendacionDos .foto1 {
    margin-left: 1vw;
    margin-top: 4vh;
    margin-bottom: -1vh;
    width: 100%;
}

.nueveRecomendacionDos .foto1 {
    margin-left: 4vw;
    width: 90%;
}

.primerRecomendacionTres .foto1 {
    margin-left: 1vw;
    margin-top: 5vh;
    margin-bottom: -1vh;
    width: 96%;
}

.segundoRecomendacionTres .foto1 {
    margin-left: 1vw;
    margin-top: 5vh;
    margin-bottom: 3vh;
    width: 96%;
}

.segundoRecomendacionTres .foto2 {
    margin-left: 1vw;
    margin-top: 2vh;
    margin-bottom: 3vh;
    width: 100%;
}

.primerDivGlosario .foto1 {
    margin-top: 8vh;
    margin-left: -28vw;
    margin-bottom: -1vh;
    width: 150%;
}

.segundoDivGlosario .foto1 {
    margin-top: -2vh;
    margin-bottom: 2vh;
    width: 96%;
}

.terceroDivBibliografia .foto1 {
    margin-top: 2vh;
    margin-left: -5vw;
    margin-bottom: -2vh;
    width: 111%;
}

.segundoDivMarco .numero {
    font-family: DIN Condensed Bold;
    font-size: 16px;
    width: max-content;
    background-color: #FFF100;
    border-radius: 20px;
    padding: 0 6px;
    margin: 10px 0 10px -40px;
}

.segundoDivMarco .lineaPunteada {
    background-image: url("../../assets/imagenes/RECURSOS MOBILE/PNG INTRODUCCIÓN/Marco Normativo/005.Línea punteada.png");
    background-size: auto;
    background-repeat: repeat-y;
    background-position: left;
    margin-left: 11vw;
    padding: 0 4vw 0 4vw;
}

.segundoDivMarco .lineaPunteada .accordion {
    margin-bottom: 15px;
}

.segundoDivMarco .lineaPunteada .accordion-button:not(.collapsed) {
    font-family: DIN Condensed Bold;
    color: #000000;
    font-weight: 900;
    background-color: #ffff;
    box-shadow: none;
}

.segundoDivMarco .lineaPunteada .accordion-button {
    background-color: #fff;
    font-family: DIN Condensed Bold;
    border-radius: 0;
    padding: 8px;
}

.segundoDivMarco .lineaPunteada .accordion-button:focus {
    z-index: 3;
    border-color: #000000;
    box-shadow: none;
}

.segundoDivMarco .lineaPunteada .accordion-button::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: 10px;
    font-family: FontAwesome;
    content: "\2b";
    background-image: none;
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform .2s ease-in-out;
}

.segundoDivMarco .lineaPunteada .accordion-button:not(.collapsed)::after {
    font-family: FontAwesome;
    content: "\f068";
    background-image: none;
    transform: none;
}

.segundoDivMarco .lineaPunteada .accordion-item {
    background-color: #fff;
    border-radius: 0;
    border: 2px solid #000000;
    font-weight: 500;
}

.segundoDivMarco .lineaPunteada .accordion-item .accordion-body {
    padding: 0 8px 8px 8px;
    line-height: 16px;
    font-size: 14px;
}

.segundoDivMarco .lineaPunteada .accordion-item .accordion-body a {
    font-weight: 900;
    color: #F7931D;
    text-decoration: none;
}

.segundoDivLenguaje article .fondoUno {
    background-color: #CADB2A;
    padding: 5% 10% 10% 10%;
    margin-bottom: 3vh;
    text-align: start;
}

.segundoDivLenguaje article .fondoDos {
    background-color: #1B75BB;
    color: #ffff;
    padding: 5% 10% 10% 10%;
    margin-bottom: 3vh;
    text-align: start;
}

.segundoDivLenguaje article .fondoUno h1,
.segundoDivLenguaje article .fondoDos h1 {
    font-family: DIN Condensed Bold;
}

.DivRecomendaciones.color,
.DivRecomendacionUno.color {
    background-color: #237D34;
}

.DivRecomendaciones .item,
.DivLenguajeDos .item,
.DivAccesibilidadTxt .item,
.DivElaboracionV .item,
.DivRecomendacionUno .item {
    color: #ffff;
}

.DivRecomendaciones .tituloPrincipal,
.DivLenguajeDos .tituloPrincipal,
.DivAccesibilidadTxt .tituloPrincipal,
.DivElaboracionV .tituloPrincipal {
    font-family: DIN Condensed Bold;
    font-size: 26px;
}

.DivRecomendaciones .tituloPrincipal,
.DivLenguajeDos .tituloPrincipal {
    padding: 0 10vw;
    line-height: 22px;
    margin-top: 1vh;
}

.DivRecomendaciones .tituloPrincipal,
.DivLenguajeDos .tituloPrincipal {
    margin-top: 2vh;
}

.DivRecomendacionUno .tituloPrincipal {
    line-height: 26px;
}

.DivLenguajeDos .item.primero {
    margin-bottom: -30vh;
}

.DivLenguajeDos .item.segundo {
    margin-bottom: -30vh;
}

.DivRecomendaciones .estrellaDerecha,
.DivLenguajeDos .estrellaDerecha,
.DivAccesibilidadTxt .estrellaDerecha,
.DivElaboracionV .estrellaDerecha,
.DivRecomendacionUno .estrellaDerecha {
    width: 6%;
    position: relative;
    left: 90px;
    top: -20px;
}

.DivLenguajeDos .estrellaDerecha {
    left: 60px;
    top: -20px;
}

.DivAccesibilidadTxt .estrellaDerecha {
    left: 115px;
    top: -25px;
}

.DivElaboracionV .estrellaDerecha {
    left: 115px;
    top: -30px;
}

.DivRecomendacionUno .estrellaDerecha {
    left: 95px;
}

.DivRecomendacionUno .itemSliderDos .estrellaDerecha {
    left: 70px;
}

.DivRecomendaciones .estrellaIzquierda,
.DivLenguajeDos .estrellaIzquierda,
.DivAccesibilidadTxt .estrellaIzquierda,
.DivElaboracionV .estrellaIzquierda,
.DivRecomendacionUno .estrellaIzquierda {
    width: 6%;
    position: relative;
    left: -115px;
    top: 26px;
}

.DivLenguajeDos .estrellaIzquierda {
    left: -95px;
    top: 26px;
}

.DivAccesibilidadTxt .estrellaIzquierda {
    left: -122px;
    top: 30px;
}

.DivElaboracionV .estrellaIzquierda {
    left: -135px;
    top: 26px;
}

.DivRecomendacionUno .estrellaIzquierda {
    left: -128px;
}

.DivRecomendaciones article,
.DivLenguajeDos article,
.DivAccesibilidadTxt article,
.segundoDivAccesImagen article,
.DivElaboracionV article,
.DivRecomendacionUno article {
    line-height: 18px;
    text-align: justify;
    padding: 0 7vw;
}

.segundoDivAccesImagen article {
    padding: 0 10vw;
}

.DivElaboracionV article {
    padding: 0 10vw;
}

.DivElaboracionV .primero {
    margin-top: 4vh;
}


.DivRecomendacionUno article {
    padding: 0 12vw;
    margin-top: 2vh;
    margin-bottom: 6vh;
}

.DivRecomendacionUno .itemSliderDos article {
    margin-bottom: -14vh;
}

.DivRecomendaciones .foto1 {
    width: 120%;
}

.DivLenguajeDos .foto1,
.DivElaboracionV .foto1,
.DivRecomendacionUno .foto1,
.DivRecomendacionUno .foto4,
.DivRecomendacionUno .foto5 {
    width: 100%;
}

.DivLenguajeDos footer {
    margin-top: 14vh;
}

.DivElaboracionV footer {
    margin-top: 14vh;
}

.DivAccesibilidadTxt .foto1 {
    width: 130%;
    margin-left: -12vw;
}

.DivElaboracionV .foto1 {
    margin-left: -1vw;
}

.DivRecomendacionUno .foto1 {
    margin-left: -1vw;
    margin-top: 7vh;
}

.DivAccesibilidadTxt .itemSlider .foto1 {
    width: 100%;
    margin-left: 0;
}

.DivRecomendacionUno .foto5 {
    width: 120%;
    margin-left: -6vw;
    margin-top: 6vh;
}

.DivRecomendacionUno .foto6 {
    width: 100%;
    margin-left: 0vw;
    margin-top: 6vh;
}

.DivRecomendacionUno .foto4 {
    width: 100%;
    margin-top: 7vh;
}

.DivAccesibilidadTxt .itemSlider .foto1.segundo {
    margin-left: -1vw;
}

.DivAccesibilidadTxt .itemSlider .foto1.tercero {
    width: 88%;
    margin-left: 4vw;
}

.DivAccesibilidadTxt .itemSlider .foto1.cuarto {
    width: 86%;
    margin-left: 10vw;
    margin-top: 4vh;
}

.DivLenguajeDos .nube {
    width: 105%;
    position: relative;
    top: -21vh;
    left: -1vw;
}

.DivRecomendaciones .owl-theme,
.DivLenguajeDos .owl-theme {
    margin-bottom: -2vh;
}

.DivRecomendaciones .itemSlider header {
    margin-top: -3vh;
    margin-bottom: 3vh;
}

.DivRecomendaciones .itemSlider .interImg {
    margin-top: 1vh;
    ;
}

.DivRecomendaciones .itemSlider .imgItemS {
    width: 70%;
}

.DivRecomendaciones .itemSlider article {
    padding: 0 5vw;
    color: #000000;
}

.DivAccesibilidadTxt .itemSlider article {
    padding: 0 8vw;
    color: #000000;
}

.DivLenguajeDos .itemSlider .imgEstrellaI,
.DivElaboracionV .itemSlider .imgEstrellaI,
.segundoDivUsoImg .imgEstrellaI,
.terceroDivUsoImg .imgEstrellaI,
.cuartoDivUsoImg .imgEstrellaI,
.cincoDivUsoImg .imgEstrellaI,
.seisDivUsoImg .imgEstrellaI,
.DivRecomendacionUno .imgEstrellaI {
    width: 12%;
    padding: 0 0 8vh 2vw;
}

.DivElaboracionV .itemSlider .imgEstrellaI {
    padding-bottom: 2vh;
}

.DivLenguajeDos .itemSlider .imgEstrellaD,
.DivElaboracionV .itemSlider .imgEstrellaD,
.segundoDivUsoImg .imgEstrellaD,
.terceroDivUsoImg .imgEstrellaD,
.cuartoDivUsoImg .imgEstrellaD,
.cincoDivUsoImg .imgEstrellaD,
.seisDivUsoImg .imgEstrellaD,
.DivRecomendacionUno .imgEstrellaD {
    width: 14%;
    padding-right: 2vw;
}

.segundoDivUsoImg .imgEstrellaD,
.terceroDivUsoImg .imgEstrellaD,
.cuartoDivUsoImg .imgEstrellaD,
.cincoDivUsoImg .imgEstrellaD,
.seisDivUsoImg .imgEstrellaD {
    margin-top: -6vh;
    margin-bottom: 4vh;
}

.DivRecomendacionUno .margen .imgEstrellaD {
    margin-top: -26vh;
}

.DivLenguajeDos .itemSlider article,
.DivElaboracionV .itemSlider article,
.DivRecomendacionUno .itemSlider article {
    padding: 0 12vw;
    color: #000000;
    line-height: 18px;
}

.DivRecomendaciones .itemSlider article .tituloSlider {
    margin-left: -2px;
    margin-bottom: -3px;
    text-align: left;
    font-family: DIN Condensed Bold;
    line-height: 24px;
}

.DivLenguajeDos .itemSlider article .tituloSlider {
    text-align: left;
    font-family: DIN Condensed Bold;
    line-height: 24px;
}

.DivAccesibilidadTxt .itemSlider article .tituloSlider {
    text-align: left;
    font-family: DIN Condensed Bold;
    margin-bottom: 2vh;
}

.DivElaboracionV .itemSlider article .tituloSlider {
    text-align: left;
    font-family: DIN Condensed Bold;
    margin-bottom: 6vh;
    font-size: 34px;
}

.DivRecomendaciones .itemSlider article p {
    margin-bottom: -2px;
}

.DivElaboracionV .itemSlider article .text-center p {
    font-size: 14px;
}

.DivRecomendaciones .itemSlider article p::before {
    content: ' ';
    background-image: url("../../assets/imagenes/RECURSOS MOBILE/PNG INTRODUCCIÓN/Recomendaciones para la implementación del enfoque de género/011.Estrella verde.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    width: 10px;
    height: 20px;
    position: relative;
    left: -4vw;
    top: 2vh;
}

.DivLenguajeDos .itemSlider article div>.False,
.segundoDivUsoImg article .infoInterna .False,
.terceroDivUsoImg article .infoInterna .False,
.cuartoDivUsoImg article .infoInterna .False,
.cincoDivUsoImg article .infoInterna .False,
.seisDivUsoImg article .infoInterna .False,
.cincoRecomendacionDos article .False {
    content: ' ';
    background-image: url("../../assets/imagenes/RECURSOS MOBILE/PNG LENGUAJE/009. No usar_Mesa de trabajo 1 copia 2.png");
    background-size: 80%;
    background-repeat: no-repeat;
    display: block;
    width: 42px;
    height: 42px;
    position: relative;
    top: 5vh;
}

.DivLenguajeDos .itemSlider article div>.True,
.segundoDivUsoImg article .infoInterna .True,
.terceroDivUsoImg article .infoInterna .True,
.cuartoDivUsoImg article .infoInterna .True,
.cincoDivUsoImg article .infoInterna .True,
.seisDivUsoImg article .infoInterna .True,
.cincoRecomendacionDos article .True {
    content: ' ';
    background-image: url("../../assets/imagenes/RECURSOS MOBILE/PNG LENGUAJE/010. Usar_Mesa de trabajo 1 copia 2.png");
    background-size: 90%;
    background-repeat: no-repeat;
    display: block;
    width: 42px;
    height: 42px;
    position: relative;
    top: 5vh;
}

.DivLenguajeDos .itemSlider article img {
    width: 130%;
    margin-left: -10vw;
    margin-top: 2vh;
}

.DivLenguajeDos .itemSlider article .personaCharlando {
    width: 130%;
    margin-left: -8vw;
}

.DivElaboracionV .itemSlider article img {
    width: 130%;
    margin-left: -10vw;
    margin-top: 12vh;
}

.DivElaboracionV .itemSlider article .itemTres {
    width: 151%;
    margin-left: -12vw;
    margin-top: 10vh;
}

.DivElaboracionV .itemSlider article .imgInterna {
    width: 56%;
    margin: 5vh 0 2vh 2vw;
}

.cincoRecomendacionDos article .False,
.cincoRecomendacionDos article .True {
    background-size: 70%;
}

.DivRecomendacionUno .itemSlider .foto2 {
    width: 100%;
    height: 400px;
    margin-left: -2vw;
    margin-top: 12vh;
}

.DivRecomendacionUno .itemSlider .foto3 {
    width: 136%;
    margin-left: -10vw;
    margin-top: 8vh;
}

.DivRecomendaciones .owl-theme .owl-controls .owl-page span,
.DivLenguajeDos .owl-theme .owl-controls .owl-page span,
.DivElaboracionV .owl-theme .owl-controls .owl-page span,
.DivRecomendacionUno .owl-theme .owl-controls .owl-page span {
    background-color: #FFF100;
}

.DivAccesibilidadTxt .owl-theme .owl-controls .owl-page span {
    background-color: #C63D96;
}

.DivLenguajeDos .itemSlider article .divCuarto>div,
.DivLenguajeDos .itemSlider article .divCinco>div {
    font-size: 12px;
    margin-bottom: 10px;
    line-height: 14px;
}

.DivLenguajeDos .itemSlider article .divCuarto>div>.no {
    color: #EE3A4F;
    font-family: Myriad Pro Bold;
}

.DivLenguajeDos .itemSlider article .divCuarto>div>.si {
    color: #237D34;
    font-family: Myriad Pro Bold;
}

.DivLenguajeDos .itemSlider article .divCuarto strong {
    line-height: 14px;
}

.DivLenguajeDos .itemSlider .contentInfo .opcionA {
    color: #CADB2A;
    margin: 0 -7vw 5vh -7vw;
}

.DivLenguajeDos .itemSlider .articleOpcionA {
    padding: 0 8vw;
    color: #fff;
}

.DivLenguajeDos .itemSlider .contentInfo .bombilloLenguaje {
    width: 12%;
    position: relative;
    left: -130px;
    top: 26px;
}

.cincoRecomendacionDos .bombillo {
    width: 12%;
    position: relative;
    left: 60px;
    top: 26px;
}

.DivLenguajeDos .foto1.opcionA {
    width: 98%;
    margin-top: -10vh;
}

.DivLenguajeDos .foto1.opcionB {
    margin-top: 2vh;
}

.DivLenguajeDos .itemSlider .articleSeis {
    text-align: left;
}

.DivLenguajeDos .itemSlider article .divSeis>div {
    font-size: 12px;
}

.DivLenguajeDos .itemSlider article .divSeis {
    line-height: 14px;
    font-style: italic;
}

.DivLenguajeDos .itemSlider article .divSeis .divBefore div {
    margin-left: 5vw;
    margin-top: -2vh;
}

.DivLenguajeDos .itemSlider article .divSeis .divBefore div::before {
    content: ' ';
    background-image: url("../../assets/imagenes/RECURSOS MOBILE/PNG LENGUAJE/0033. Estrella verde.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    width: 10px;
    height: 20px;
    position: relative;
    left: -4vw;
    top: 2vh;
}

.terceroDivLenguaje article .startBefore::before {
    content: ' ';
    background-image: url("../../assets/imagenes/RECURSOS MOBILE/PNG LENGUAJE/009. Estrella negra sola.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    width: 10px;
    height: 20px;
    position: relative;
    left: -4vw;
    top: 2vh;
}

.cuartoDivLenguaje article .startBefore::before,
.DivRecomendacionUno .itemSlider article .vinetaStart::before,
.segundoRecomendacionDos article .vinetaStart::before,
.terceroRecomendacionDos article .vinetaStart::before,
.cuartoRecomendacionDos article .vinetaStart::before,
.seisRecomendacionDos article .vinetaStart::before,
.sieteRecomendacionDos article .vinetaStart::before,
.ochoRecomendacionDos article .vinetaStart::before,
.nueveRecomendacionDos article .vinetaStart::before {
    content: ' ';
    background-image: url("../../assets/imagenes/RECURSOS MOBILE/PNG LENGUAJE/0010. Estrella blanca sola.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    width: 10px;
    height: 20px;
    position: relative;
    left: -4vw;
    top: 2vh;
}

.DivRecomendacionUno .itemSlider article .vinetaStart::before {
    content: ' ';
    background-image: url("../../assets/imagenes/RECURSOS MOBILE/PNG RECOMENDACIONES ATENCION/0014. Estrella amarilla sola_Mesa de trabajo 1 copia 11.png");
    background-size: 100%;
    left: -6vw;
}

.segundoRecomendacionDos article .vinetaStart::before,
.terceroRecomendacionDos article .vinetaStart::before,
.cuartoRecomendacionDos article .vinetaStart::before,
.seisRecomendacionDos article .vinetaStart::before,
.sieteRecomendacionDos article .vinetaStart::before,
.ochoRecomendacionDos article .vinetaStart::before,
.nueveRecomendacionDos article .vinetaStart::before {
    content: ' ';
    background-image: url("../../assets/imagenes/RECURSOS MOBILE/PNG RECOMENDACIONES ATENCION/0014. Estrella amarilla sola_Mesa de trabajo 1 copia 11.png");
    background-size: 100%;
    left: -5vw;
}

.DivAccesibilidadTxt .itemSlider article .contentVineta {
    margin: -2vh 0 4vh 4vw;
}

.DivRecomendacionUno .itemSlider article .contentVineta {
    margin-top: -4vh;
    margin-left: 4vw;
}

.segundoRecomendacionDos article .contentVineta,
.terceroRecomendacionDos article .contentVineta,
.cuartoRecomendacionDos article .contentVineta {
    margin-left: 6vw;
}

.seisRecomendacionDos article .contentVineta,
.sieteRecomendacionDos article .contentVineta,
.ochoRecomendacionDos article .contentVineta,
.nueveRecomendacionDos article .contentVineta {
    margin-left: 4vw;
}

.terceroRecomendacionDos article .contentVineta,
.cuartoRecomendacionDos article .contentVineta {
    margin-bottom: 3vh;
}

.DivAccesibilidadTxt .itemSlider article .vinetaBeforeS {
    margin: -2vh 0 1vh 4vw;
}

.DivAccesibilidadTxt .itemSlider article .vinetaBefore::before {
    content: ' ';
    background-image: url("../../assets/imagenes/RECURSOS MOBILE/PNG ACCESIBILIDAD/Accesibilidad en textos/006_Chispa amarilla.png");
    background-size: 90%;
    background-repeat: no-repeat;
    display: block;
    width: 15px;
    height: 16px;
    position: relative;
    left: -5vw;
    top: 2vh;
}

.DivAccesibilidadTxt .itemSlider article div .rojo {
    margin-bottom: 1vh;
    color: #C63D96;
    font-family: DIN Condensed Bold;
}

.DivAccesibilidadTxt .itemSlider article div a {
    color: #F7931D;
    text-decoration: none;
}

.DivAccesibilidadTxt .itemSlider article .vinetaBeforeS::before {
    content: ' ';
    background-image: url("../../assets/imagenes/RECURSOS MOBILE/PNG ACCESIBILIDAD/Accesibilidad en textos/005_Chispa roja.png");
    background-size: 90%;
    background-repeat: no-repeat;
    display: block;
    width: 15px;
    height: 16px;
    position: relative;
    left: -5vw;
    top: 2vh;
}

.segundoDivAccesImagen article .vinetaBeforeS::before {
    content: ' ';
    background-image: url("../../assets/imagenes/RECURSOS MOBILE/PNG ACCESIBILIDAD/Accesibilidad en textos/005_Chispa roja.png");
    background-size: 90%;
    background-repeat: no-repeat;
    display: block;
    width: 15px;
    height: 16px;
    position: relative;
    left: -5vw;
    top: 2vh;
}

.cuartoDivAccesImagen article .text-center div a {
    color: #000000;
}

.cincoDivAccesImagen article .vinetaBeforeT::before {
    content: ' ';
    background-image: url("../../assets/imagenes/RECURSOS MOBILE/PNG ACCESIBILIDAD/Accesibilidad en imágenes/010.Estrella fucsia.png");
    background-size: 50%;
    background-repeat: no-repeat;
    display: block;
    width: 18px;
    height: 15px;
    position: relative;
    left: -5vw;
    top: 2vh;
}

.DivElaboracionV .itemSlider article .text-center a {
    cursor: pointer;
    color: #ffff;
    padding: 22px;
    font-family: DIN Condensed Bold;
    font-size: 14px;
    background-size: 100%;
    width: 62%;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 999;
    line-height: 16px;
    background-image: url("../../assets/imagenes/RECURSOS MOBILE/PNG MATERIAL AUDIOVISUAL/Recomendaciones uso video/008.Boton.png");
}

.segundoDivUsoImg article .infoInterna .pFalse,
.segundoDivUsoImg article .infoInterna .pTrue,
.terceroDivUsoImg article .infoInterna .pTrue,
.terceroDivUsoImg article .infoInterna .pFalse,
.cuartoDivUsoImg article .infoInterna .pTrue,
.cuartoDivUsoImg article .infoInterna .pFalse,
.cincoDivUsoImg article .infoInterna .pTrue,
.cincoDivUsoImg article .infoInterna .pFalse,
.seisDivUsoImg article .infoInterna .pTrue,
.seisDivUsoImg article .infoInterna .pFalse,
.cincoRecomendacionDos article .pTrue,
.cincoRecomendacionDos article .pFalse {
    text-align: start;
}

.segundoDivUsoImg article .infoInterna .imgPoster,
.terceroDivUsoImg article .infoInterna .imgPoster,
.cuartoDivUsoImg article .infoInterna .imgPoster,
.cincoDivUsoImg article .infoInterna .imgPoster,
.seisDivUsoImg article .infoInterna .imgPoster {
    margin-bottom: 4vh;
}

.segundoDivUsoImg article .infoInterna .imgPoster.imgUno,
.terceroDivUsoImg article .infoInterna .imgPoster.imgUno,
.terceroDivUsoImg article .infoInterna .imgPoster.imgDos,
.cuartoDivUsoImg article .infoInterna .imgPoster.imgUno,
.cuartoDivUsoImg article .infoInterna .imgPoster.imgDos,
.cincoDivUsoImg article .infoInterna .imgPoster.imgUno,
.cincoDivUsoImg article .infoInterna .imgPoster.imgDos,
.seisDivUsoImg article .infoInterna .imgPoster.imgUno {
    width: 100%;
}

.segundoDivUsoImg article .infoInterna .imgPoster.imgDos {
    width: 76%;
}

.seisDivUsoImg article .infoInterna .imgPoster.imgDos {
    width: 84%;
}

.segundoDivEvaluacionM article .vinetas,
.terceroDivEvaluacionM article .vinetas {
    margin-left: 4vw;
}

.segundoDivEvaluacionM article .checkBefore::before,
.terceroDivEvaluacionM article .checkBefore::before {
    content: ' ';
    background-image: url("../../assets/imagenes/RECURSOS MOBILE/PNG EVALUACIÓN DE MATERIAL/004.Check.png");
    background-size: 70%;
    background-repeat: no-repeat;
    display: block;
    width: 18px;
    height: 15px;
    position: relative;
    left: -5vw;
    top: 2vh;
}

.segundoRecomendacionTres .content .numero {
    color: #C63D96;
    font-weight: bolder;
    padding-right: 4vw;
}

.segundoRecomendacionTres .content div {
    margin-bottom: 2vh;
}

.cuartoDivAccesImagen .cursiva {
    font-style: italic;
}

.segundoDivGlosario .chispasDerecha {
    position: relative;
    top: 20px;
    left: 30px;
    width: 20%;
}

.segundoDivGlosario .chispasIzquierda {
    position: relative;
    top: -42px;
    left: -34px;
    width: 20%;
}

.primerDivUsoImg .btnClose,
.primerDivBibliografia .btnClose {
    color: #000000 !important;
}

.primerDivBibliografia article h2,
.segundoDivBibliografia article h2 {
    font-family: DIN Condensed Bold;
    font-size: 20px;
    margin-top: 1vh;
}

.primerDivBibliografia article h2 {
    color: #C63D96;
}

.segundoDivBibliografia article h2 {
    color: #237D34;
}

.segundoDivBibliografia .h2Dos {
    color: #EE3A4F;
}

.primerDivBibliografia article p>a,
.segundoDivBibliografia article p>a,
.terceroDivBibliografia article p>a {
    color: #1B2F72;
    text-decoration: none;
    font-family: Myriad Pro Bold;
    font-size: 15px;
}
