#MARCONORMATIVOINTERNACIONAL,
#DESCUBRELASRECOMENDACIONES,
#GUIADEVERIFICACION,
#GLOBOLENGUAJECOMOLUCHA,
#RECOMENDACIONES,
#DESCARGAVERIFICACION,
#MUÑECOACCESOIMAGENES,
#MUÑECOACCESIBILIDADTEXTOS,
#MUÑECOGUIAVERIFICACION,
#USOIMAGENES,
#USOVIDEOS,
#GUIAIMAGENES,
#GUIAVIDEO,
#EVALUACIONMATERIAL,
#EVALUACIONAUDIOVISUAL,
#EVALUACIONDOCUMENTAL,
#DOCUMENTOBOMBILLO,
#RECURSOSEDUCATIVOSBOMBILLO,
#TALLERISTASBOMBILLO,
#RECURSOSWEBBOMBILLO,
#MATERIALAUDIOVISUALBOMBILLO,
#ORGANIZACIONESYPROYECTOSBOMBILLO,
#ARTICULOSBOMBILLO,
#ATENCIONINCLUSIVA,
#PERSONASTRANSYNOBINARIAS,
#PERSONASCONDISCAPACIDAD,
#GLOSARIO,
#BIBLIOGRAFIA,
#PROCESOSDECUALIFICACION,
#TUERCAAPAGADAINTRODUCCION,
#TUERCAAPAGADALENGUAJE,
#TUERCAAPAGADAACCESIBILIDAD,
#TUERCAAPAGADAMATERIAL,
#TUERCAAPAGADAEVALUACION,
#TUERCAAPAGADARECOMENDACION,
#TUERCAAPAGADAREFERENCIA,
#TUERCAAPAGADAINFOADICIONAL {
    cursor: pointer;
}

#MARCONORMATIVOINTERNACIONAL:hover,
#DESCUBRELASRECOMENDACIONES:hover,
#GUIADEVERIFICACION:hover,

#USOIMAGENES:hover,
#USOVIDEOS:hover,
#GUIAIMAGENES:hover,
#GUIAVIDEO:hover,
#GLOSARIO:hover,
#BIBLIOGRAFIA:hover,
#PROCESOSDECUALIFICACION:hover  {
    /*filter: grayscale(100%);*/
    filter: drop-shadow(0px 0px 70px #fff) brightness(1.2);
}
#EVALUACIONMATERIAL:hover,
#EVALUACIONAUDIOVISUAL:hover,
#EVALUACIONDOCUMENTAL:hover{filter: drop-shadow(0px 0px 50px #ffe000) brightness(2);}

#MUÑECOACCESOIMAGENES:hover,
#MUÑECOACCESIBILIDADTEXTOS:hover,
#MUÑECOGUIAVERIFICACION:hover{filter: drop-shadow(0px 0px 100px #fff) brightness(1.5);}

#GLOBOLENGUAJECOMOLUCHA:hover,
#RECOMENDACIONES:hover,
#DESCARGAVERIFICACION:hover,
#ATENCIONINCLUSIVA:hover,
#PERSONASTRANSYNOBINARIAS:hover,
#PERSONASCONDISCAPACIDAD:hover {
    /*filter: opacity(.5);*/
    animation: example 1s infinite;
}


@keyframes example {
  0%   {filter: drop-shadow(0px 0px 10px #000) brightness(.5);}
  50%  {filter: drop-shadow(0px 0px 20px #fff) brightness(1.5);}
  100%   {filter: drop-shadow(0px 0px 10px #000) brightness(.5);}
}

#ORGANIZACIONESYPROYECTOSBOMBILLO:hover, #ORGANIZACIONESYPROYECTOSAPAGADO:hover,
#MATERIALAUDIOVISUALBOMBILLO:hover,
#RECURSOSWEBBOMBILLO:hover,
#ARTICULOSBOMBILLO:hover,
#TALLERISTASBOMBILLO:hover,
#RECURSOSEDUCATIVOSBOMBILLO:hover,
#DOCUMENTOBOMBILLO:hover{filter: drop-shadow(0px 0px 50px #ffe000) brightness(10);}


#INTRODUCCION-2:hover,
#LENGUAJE-2:hover,
#ACCESIBILIDAD-2:hover,
#MATERIALAUDIOVISUAL-2:hover,
#EVALUACIONMATERIALES-2:hover,
#RECOMENDACIONES-2:hover,
#REFERENCIAS-2:hover,
#GLOSARIO-2:hover,
.tuerca_alumbra{
    filter: drop-shadow(2px 0px 5px #fff) brightness(1.15);
    cursor: pointer;
}

.menu_cambio path.cls-1 {    fill: #000;}
.menu_cambio image{filter: brightness(0);}