#MARCONORMATIVOINTERNACIONAL,
#DESCUBRELASRECOMENDACIONES,
#GUIADEVERIFICACION,
#GLOBOLENGUAJECOMOLUCHA,
#RECOMENDACIONES,
#DESCARGAVERIFICACION,
#MUÑECOACCESOIMAGENES,
#MUÑECOACCESIBILIDADTEXTOS,
#MUÑECOGUIAVERIFICACION,
#USOIMAGENES,
#USOVIDEOS,
#GUIAIMAGENES,
#GUIAVIDEO,
#EVALUACIONMATERIAL,
#EVALUACIONAUDIOVISUAL,
#EVALUACIONDOCUMENTAL,
#DOCUMENTOBOMBILLO,
#RECURSOSEDUCATIVOSBOMBILLO,
#TALLERISTASBOMBILLO,
#RECURSOSWEBBOMBILLO,
#MATERIALAUDIOVISUALBOMBILLO,
#ORGANIZACIONESYPROYECTOSBOMBILLO,
#ARTICULOSBOMBILLO,
#ATENCIONINCLUSIVA,
#PERSONASTRANSYNOBINARIAS,
#PERSONASCONDISCAPACIDAD,
#GLOSARIO,
#BIBLIOGRAFIA,
#PROCESOSDECUALIFICACION {
    cursor: pointer;
}

#MARCONORMATIVOINTERNACIONAL:hover,
#DESCUBRELASRECOMENDACIONES:hover,
#GUIADEVERIFICACION:hover,
#MUÑECOACCESOIMAGENES:hover,
#MUÑECOACCESIBILIDADTEXTOS:hover,
#MUÑECOGUIAVERIFICACION:hover,
#USOIMAGENES:hover,
#USOVIDEOS:hover,
#GUIAIMAGENES:hover,
#GUIAVIDEO:hover,
#EVALUACIONMATERIAL:hover,
#EVALUACIONAUDIOVISUAL:hover,
#EVALUACIONDOCUMENTAL:hover,
#GLOSARIO:hover,
#BIBLIOGRAFIA:hover,
#PROCESOSDECUALIFICACION:hover  {
    filter: grayscale(100%);
}

#GLOBOLENGUAJECOMOLUCHA:hover,
#RECOMENDACIONES:hover,
#DESCARGAVERIFICACION:hover,
#ATENCIONINCLUSIVA:hover,
#PERSONASTRANSYNOBINARIAS:hover,
#PERSONASCONDISCAPACIDAD:hover {
    filter: opacity(.5);
}

.mostrar {
    position: relative;
    z-index: 20;
}

.ocultar {
    position: relative;
    z-index: -1;
}