.cajaPrincipal .contentVsg .svgIntroduccion {
    margin-top: -65vh !important;
    max-height: 62vh;
}

.cajaPrincipal .contentVsg .svgLenguaje {
    max-height: 74vh;
}

.cajaPrincipal .contentVsg .svgAccesibilidad {
    margin: -78vh 0 0 -4vw !important;
    max-height: 80vh;
}

.cajaPrincipal .contentVsg .svgMaterialAudio {
    margin: -80vh 0 0 -4vw !important;
    max-height: 75vh;
}

.cajaPrincipal .contentVsg .svgEvalucion {
    margin: -74vh 0 0 -4vw !important;
    max-height: 75vh;
}

.cajaPrincipal .contentVsg .svgRecomendaciones {
    margin: -65vh 0 -8vh -4vw !important;
    max-height: 75vh;
}

.cajaPrincipal .contentVsg .svgReferencias {
    margin: -9vh 0 0vh -1.9vw !important;
    max-height: 75vh;
}

.cajaPrincipal .contentVsg .svgInfoAdicional {
    max-height: 58vh;
    margin-left: -9vw;
}

.sieteRecomendacionDos .foto1 {
    margin-top: -5vh !important;
    width: 34vw !important;
}