@font-face {
    font-family: 'Myriad Pro Bold';
    src: url('assets/fuentes/MyriadProBold/MyriadProBold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Myriad Pro Regular';
    src: url('assets/fuentes/MyriadProRegular/MyriadProRegular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

body {
    min-height: 100vh;
    font-family: Myriad Pro Regular;
}

/* Estilos de la portada "app/inicio/portada.html"*/
.contentPortada {
    height: 100vh;
    background-color: #1B75BB;
}

.contentPortada .contentTitulo .tituloPrincipal,
.cajaPrincipal .introduccion .tituloPrincipal,
.cajaPrincipal .lenguaje .tituloPrincipal,
.cajaPrincipal .accesibilidad .tituloPrincipal,
.cajaPrincipal .materialAudio .tituloPrincipal {
    padding: 0 15vw;
    font-family: Myriad Pro Bold;
    font-size: 36px;
    color: #1B2F72;
    line-height: 34px;
}

.contentPortada .contentTitulo .tituloPrincipal>span {
    color: #ffff;
}

.contentPortada .contentTitulo .estrellaIzquierda {
    width: 6%;
    position: relative;
    left: -113px;
    top: 8px;
}

.contentPortada .contentTitulo .estrellaDerecha {
    width: 5%;
    position: relative;
    left: 115px;
    top: -30px;
}

.contentPortada .contentTitulo .parrafoTitulo {
    padding: 0px 18vw;
    font-size: 16px;
    color: #ffff;
    line-height: 20px;
}

.contentPortada .contentTitulo {
    padding-top: 8vh;
}

.contentPortada .container.contentImg {
    margin-top: -6vh;
}

.contentPortada .container.contentImg .conBrillo {
    display: none;
}

.contentPortada .container.contentImg .btn {
    cursor: pointer;
    position: relative;
    top: 86px;
    left: -5px;
    height: 90px;
}

.contentPortada .container .nube {
    width: 30%;
    position: relative;
}

.contentPortada .container .nube.izquierda {
    top: 90px;
    left: 16px;
}

.contentPortada .container .nube.derecha {
    left: 100px;
    top: 190px;
}


/* Estilos de la pagina interna "app/paginaPortada/portadaInterna.html"*/
.contentInterna {
    background-color: #1B75BB;
    color: #ffff;
}

.contentInterna .seccion {
    padding-top: 8vh;
}

.contentInterna .parrafosPresentacion .parrafoUno {
    padding: 0 10vw;
}

.contentInterna .parrafosPresentacion .parrafoDos {
    margin: 2vh 11vw;
}

.contentInterna .parrafosPresentacion .parrafoTres {
    margin: 0 8vw;
}

.contentInterna .parrafosPresentacion .btn {
    cursor: pointer;
    color: #ffff;
    margin: 2vh 0 4vh;
    padding: 36px;
    font-family: Myriad Pro Bold;
    background-image: url("/src/assets/imagenes/RECURSOS MOBILE/PNG PORTADAS/006. Boton rosado-11.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* Estilos del menu mobile "app/mobile/menuMobile.html"*/
.cajaPrincipal .navbar-toggler .fa-bars {
    font-size: 35px;
}

.cajaPrincipal .menuMobile .navbar-nav {
    padding-top: 6vh !important;
    padding-left: 5vw;
}

.cajaPrincipal .menuMobile {
    padding: 1vh 4vw 0 0;
}

@media (min-width:768px) {
    .cajaPrincipal .navbar {
        display: none;
    }
}

/* Estilos de la caja de herramientas "app/modeloCaja/cajaHerramienta.html"*/
.cajaPrincipal {
    color: #ffff;
}

.cajaPrincipal .introduccion,
.cajaPrincipal .lenguaje,
.cajaPrincipal .accesibilidad,
.cajaPrincipal .materialAudio {
    padding: 6vh 0;
}

.cajaPrincipal .introduccion {
    background-color: #C63D96;
}

.cajaPrincipal .lenguaje {
    background-color: #1B2F72;
}

.cajaPrincipal .accesibilidad {
    background-color: #CADB2A;
}

.cajaPrincipal .materialAudio {
    background-color: #F7931D;

}

.cajaPrincipal .introduccion .tituloPrincipal,
.cajaPrincipal .lenguaje .tituloPrincipal {
    color: #ffff;
}

.cajaPrincipal .accesibilidad .tituloPrincipal,
.cajaPrincipal .materialAudio .tituloPrincipal{
    color: #000000;
}

.cajaPrincipal .introduccion .estrellaDerecha,
.cajaPrincipal .lenguaje .estrellaDerecha,
.cajaPrincipal .accesibilidad .estrellaDerecha,
.cajaPrincipal .materialAudio .estrellaDerecha {
    width: 5%;
    position: relative;
}

.cajaPrincipal .introduccion .estrellaDerecha {
    left: 115px;
    top: -30px;
}

.cajaPrincipal .lenguaje .estrellaDerecha {
    left: 90px;
    top: -30px;
}

.cajaPrincipal .accesibilidad .estrellaDerecha {
    left: 120px;
    top: -25px;
}

.cajaPrincipal .materialAudio .estrellaDerecha {
    left: 120px;
    top: -25px;
}

.cajaPrincipal .introduccion .estrellaIzquierda,
.cajaPrincipal .lenguaje .estrellaIzquierda,
.cajaPrincipal .accesibilidad .estrellaIzquierda,
.cajaPrincipal .materialAudio .estrellaIzquierda {
    width: 6%;
    position: relative;
}

.cajaPrincipal .introduccion .estrellaIzquierda {
    left: -108px;
    top: 8px;
}

.cajaPrincipal .lenguaje .estrellaIzquierda {
    left: -85px;
    top: 8px;
}

.cajaPrincipal .accesibilidad .estrellaIzquierda {
    left: -125px;
    top: 20px;
}

.cajaPrincipal .materialAudio .estrellaIzquierda {
    left: -100px;
    top: 20px;
}

@keyframes transiciónPuntos {
    0% {
        opacity: 1;
    }

    60% {
        opacity: 0.2;
    }
}

.cajaPrincipal .introduccion .recomendaciones {
    margin: 4vh 0;
}

.cajaPrincipal .lenguaje .lugar {
    margin-top: 4vh;
}

.cajaPrincipal .lenguaje .recomendaciones {
    margin: 10vh 0;
}

.cajaPrincipal .lenguaje .guiaVerificacion {
    margin-top: 12vh;
}

.cajaPrincipal .accesibilidad .accesImg {
    margin: 10vh 0;
}

.cajaPrincipal .introduccion .puntosBlanco,
.cajaPrincipal .lenguaje .puntosBlanco,
.cajaPrincipal .accesibilidad .puntosBlanco,
.cajaPrincipal .materialAudio .puntosBlanco {
    position: relative;
    z-index: 1;
    margin-top: -1vh;
    width: 85%;
    opacity: 1;
    animation-name: transiciónPuntos;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.cajaPrincipal .introduccion .imgMuñeco,
.cajaPrincipal .lenguaje .imgMuñeco,
.cajaPrincipal .accesibilidad .imgMuñeco,
.cajaPrincipal .materialAudio .imgMuñeco {
    position: relative;
    z-index: 999;
    margin-top: -32vh;
    width: 46%;
}

.cajaPrincipal .introduccion .marco .imgMuñeco {
    width: 34%;
}

.cajaPrincipal .lenguaje .lugar .imgMuñeco {
    width: 38%;
}

.cajaPrincipal .lenguaje .recomendaciones .imgMuñeco {
    width: 40%;
}

.cajaPrincipal .introduccion .guiaVerificacion .imgMuñeco,
.cajaPrincipal .lenguaje .guiaVerificacion .imgMuñeco {
    width: 54%;
}

.cajaPrincipal .accesibilidad .accesText .imgMuñeco {
    width: 75%;
    margin: -22vh 0 4vh 0;
}

.cajaPrincipal .accesibilidad .accesImg .imgMuñeco {
    width: 62%;
    margin-left: 8vh;
}

.cajaPrincipal .accesibilidad .guiaVerificacion .imgMuñeco {
    width: 60%;
    margin-left: -8vh;
}

.cajaPrincipal .introduccion .btn,
.cajaPrincipal .lenguaje .btn,
.cajaPrincipal .accesibilidad .btn,
.cajaPrincipal .materialAudio .btn {
    cursor: pointer;
    color: #000000;
    margin-top: -4vh;
    padding: 22px;
    font-family: Myriad Pro Bold;
    font-size: 12px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 9999;
    line-height: 16px;
}

.cajaPrincipal .lenguaje .btn,
.cajaPrincipal .accesibilidad .btn,
.cajaPrincipal .materialAudio .btn {
    font-size: 14px;
    padding: 26px;
    color: #ffff;
}

.cajaPrincipal .introduccion .marco .btn {
    background-image: url("/src/assets/imagenes/RECURSOS MOBILE/PNG PORTADAS/0011. Boton amarillo-11.png");
}

.cajaPrincipal .lenguaje .lugar .btn {
    background-image: url("/src/assets/imagenes/RECURSOS MOBILE/PNG PORTADAS/008. Boton azul claro-11.png");
}

.cajaPrincipal .accesibilidad .accesText .btn {
    background-image: url("/src/assets/imagenes/RECURSOS MOBILE/PNG PORTADAS/0013. Verde oscuro-11.png");
    padding: 11%;
}

.cajaPrincipal .materialAudio .elaboracion .btn {
    background-image: url("/src/assets/imagenes/RECURSOS MOBILE/PNG PORTADAS/007. Boton azul oscuro-11.png");
}

.cajaPrincipal .introduccion .recomendaciones .btn {
    background-image: url("/src/assets/imagenes/RECURSOS MOBILE/PNG PORTADAS/0013. Verde oscuro-11.png");
    margin-top: -6vh;
    color: #ffff;
}

.cajaPrincipal .lenguaje .recomendaciones .btn {
    background-image: url("/src/assets/imagenes/RECURSOS MOBILE/PNG PORTADAS/006. Boton rosado-11.png");
    margin-top: -6vh;
}

.cajaPrincipal .accesibilidad .accesImg .btn{
    background-image: url("/src/assets/imagenes/RECURSOS MOBILE/PNG PORTADAS/008. Boton azul claro-11.png");
    padding: 11%;
    margin-top: -8vh;
}

.cajaPrincipal .materialAudio .uso .btn{
    background-image: url("/src/assets/imagenes/RECURSOS MOBILE/PNG PORTADAS/008. Boton azul claro-11.png");
}

.cajaPrincipal .introduccion .guiaVerificacion .btn {
    background-image: url("/src/assets/imagenes/RECURSOS MOBILE/PNG PORTADAS/0012. Verde claro-11.png");
    margin-top: -4vh;
}

.cajaPrincipal .lenguaje .guiaVerificacion .btn {
    background-image: url("/src/assets/imagenes/RECURSOS MOBILE/PNG PORTADAS/0010. Boton rojo-11.png");
    margin-top: -4vh;
}

.cajaPrincipal .accesibilidad .guiaVerificacion .btn {
    background-image: url("/src/assets/imagenes/RECURSOS MOBILE/PNG PORTADAS/0010. Boton rojo-11.png");
}

.cajaPrincipal .materialAudio .guiaVerificacionV .btn {
    background-image: url("/src/assets/imagenes/RECURSOS MOBILE/PNG PORTADAS/009. Boton naranja-11.png");
}

.cajaPrincipal .materialAudio .guiaVerificacionI .btn {
    background-image: url("/src/assets/imagenes/RECURSOS MOBILE/PNG PORTADAS/0010. Boton rojo-11.png");
}

/* Estilos del modal */
.modal-dialog {
    -webkit-box-shadow: 0px 0px 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.modal .modal-content .btnClose {
    position: relative;
    top: 1vh;
    left: 86vw;
    opacity: 1;
    font-size: 30px;
}

.modal .modal-content {
    border-radius: 0;
    background-clip: unset;
}

/* Estilos marco normativo */
.modal-content.primerDivMarco {
    background-color: #EE3A4F;
}

.primerDivMarco .tituloPrincipal {
    font-family: Myriad Pro Bold;
    font-size: 28px;
}

.primerDivMarco .estrellaDerecha {
    width: 5%;
    position: relative;
    left: 115px;
    top: -30px;
}

.primerDivMarco .estrellaIzquierda {
    width: 6%;
    position: relative;
    left: -124px;
    top: 30px;
}

.primerDivMarco article {
    line-height: 18px;
    text-align: justify;
    padding: 0 6vw;
}

.primerDivMarco .foto1 {
    width: 92%;
}

.segundoDivMarco .foto2 {
    width: 114%;
    margin-left: -6vw;
    margin-top: -4vh;
}

.segundoDivMarco .estrellaRojas {
    width: 6%;
    position: relative;
    top: 10px;
}

.segundoDivMarco .numero {
    font-family: Myriad Pro Bold;
    font-size: 16px;
    width: max-content;
    background-color: #FFF100;
    border-radius: 20px;
    padding: 0 6px;
    margin: 10px 0 10px -40px;
}

.segundoDivMarco .lineaPunteada {
    background-image: url("/src/assets/imagenes/RECURSOS MOBILE/PNG INTRODUCCIÓN/Marco Normativo/005.Línea punteada.png");
    background-size: auto;
    background-repeat: repeat-y;
    background-position: left;
    margin-left: 11vw;
    padding: 0 4vw 0 4vw;
}

.segundoDivMarco .lineaPunteada .accordion {
    margin-bottom: 15px;
}

.segundoDivMarco .lineaPunteada .accordion-button:not(.collapsed) {
    font-family: Myriad Pro Bold;
    color: #000000;
    font-weight: 900;
    background-color: #ffff;
    box-shadow: none;
}

.segundoDivMarco .lineaPunteada .accordion-button {
    background-color: #fff;
    font-family: Myriad Pro Bold;
    border-radius: 0;
    padding: 8px;
}

.segundoDivMarco .lineaPunteada .accordion-button:focus {
    z-index: 3;
    border-color: #000000;
    box-shadow: none;
}

.segundoDivMarco .lineaPunteada .accordion-button::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: 10px;
    font-family: FontAwesome;
    content: "\2b";
    background-image: none;
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform .2s ease-in-out;
}

.segundoDivMarco .lineaPunteada .accordion-button:not(.collapsed)::after {
    font-family: FontAwesome;
    content: "\f068";
    background-image: none;
    transform: none;
}

.segundoDivMarco .lineaPunteada .accordion-item {
    background-color: #fff;
    border-radius: 0;
    border: 2px solid #000000;
    font-weight: 500;
}

.segundoDivMarco .lineaPunteada .accordion-item .accordion-body {
    padding: 0 8px 8px 8px;
    line-height: 16px;
    font-size: 14px;
}

.segundoDivMarco .lineaPunteada .accordion-item .accordion-body a {
    font-weight: 900;
    color: #F7931D;
    text-decoration: none;
}

/* Estilos marco normativo */
.modal-content.DivRecomendaciones {
    background-color: #237D34;
}

.DivRecomendaciones .tituloPrincipal {
    font-family: Myriad Pro Bold;
    font-size: 24px;
    padding: 0 10vw;
}

.DivRecomendaciones .estrellaDerecha {
    width: 5%;
    position: relative;
    left: 120px;
    top: -30px;
}

.DivRecomendaciones .estrellaIzquierda {
    width: 6%;
    position: relative;
    left: -140px;
    top: 26px;
}

.DivRecomendaciones article {
    line-height: 18px;
    text-align: justify;
    padding: 0 7vw;
}

.DivRecomendaciones .foto1 {
    width: 114%;
}

.DivRecomendaciones article .anterior,
.DivRecomendaciones article .siguiente {
    float: left;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: -30px;
    content: "";
    background-image: url();
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform .2s ease-in-out;
}

.DivRecomendaciones article .siguiente {
    float: right;
    margin-right: -30px;
    content: "";
    background-image: url();
}