/* Estilos de la portada "app/inicio/portada.html"*/
@import url("app/inicio/portada.css");
/* Estilos de la pagina interna "app/paginaPortada/portadaInterna.html"*/
@import url("app/paginaPortada/portadaInterna.css");
/* Estilos del menu mobile "app/mobile/menuMobile.html"*/
@import url("app/mobile/menuMobile.css");


@font-face {
    font-family: 'Myriad Pro Bold';
    src: url('assets/fuentes/MyriadProBold/MyriadProBold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Myriad Pro Regular';
    src: url('assets/fuentes/MyriadProRegular/MyriadProRegular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

body {
    min-height: 100vh;
    font-family: Myriad Pro Regular;
}

body strong {
    font-family: Myriad Pro Bold !important;
    font-weight: normal !important;
    ;
}

/*home*/
.contentPortada .contentTitulo .tituloPrincipal {
    font-size: 3.5vw;
}

.contentPortada .contentTitulo .estrellaIzquierda {
    width: 2%;
    left: -21%;
}

.contentPortada .contentTitulo .estrellaDerecha {
    width: 2%;
    left: 21%;
}

.contentPortada .contentTitulo .parrafoTitulo {
    margin-top: -2%;
}

.contentPortada .contentTitulo .parrafoTitulo {
    padding: 0px 30vw;
    font-size: 20px;
}

.contentPortada .container.contentImg {
    width: 44%;
    margin-top: 0;
    max-height: 43vh;
}

.contentPortada .contentTitulo {
    padding-top: 2vh;
}

#btnLlaveInglesa {
    width: 70px;
    height: 25vh;
    top: 25vh;
}

#btnLlaveInglesa:hover #conBrillo {
    display: block;
}

#btnLlaveInglesa:hover #sinBrillo {
    display: none;
}

.contentPortada .container .nube,
.contentInterna .nube {
    width: 18%;
    float: left;
}

.contentInterna .nube {
    animation: rubberBand 2s;
}

.contentPortada .container .nube.arriba,
.contentInterna .nube.arriba {
    display: block !important;
    float: right;
    right: -50px;
}

.contentInterna .nube.arriba {
    position: absolute;
    width: 12%;
    right: 40px;
    top: 38%;
}

.contentPortada .container .nube.izquierda,
.contentInterna .nube.izquierda {
    top: -90px;
}

.contentPortada .container .nube.derecha,
.contentInterna .nube.derecha {
    left: 55%;
    top: -46px;
}

.contentInterna .nube.izquierda,
.contentInterna .nube.derecha {
    display: block !important;
}

.contentInterna .nube.derecha {
    position: absolute;
    width: 14%;
    left: 65%;
    top: 89%;
}

.contentInterna .nube.izquierda {
    position: absolute;
    width: 14%;
    left: 5%;
    top: 75%;
}

/*DENTO DE LA LLAVE*/
#contentPaginaInicio #contentInterna {
    height: 100vh;
    font-size: 16px;
}

.contentInterna .seccion {
    padding: 10vh 4vw 0
}

/* PORTADA INTERNA */
.contentInterna .parrafosPresentacion .btn {
    font-size: 1.2vw;
    width: 12vw;
    margin: -2vh 0 0vw;
}


.contentInterna .parrafosPresentacion .parrafoUno,
.contentInterna .parrafosPresentacion .parrafoTres {
    padding: 0 19vw;
}

.contentInterna .parrafosPresentacion .parrafoDos {
    margin: 2vh 20vw;
}


@media screen and (min-device-width: 1700px) {
    .contentPortada .container.contentImg {
        width: 44% !important;
    }

    .contentInterna .seccion {
        padding: 10vh 0 0vw;
        font-size: 1.4vw;
    }

    .contentInterna .parrafosPresentacion .btn {
        padding: 20px !important;
        margin: 0 !important;
        font-size: 18px !important;
        width: 10vw;
    }

    .contentInterna .nube.derecha {
        top: 87% !important; 
    }

}