@font-face {
    font-family: 'Myriad Pro Bold';
    src: url('assets/fuentes/MyriadProBold/MyriadProBold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Myriad Pro Regular';
    src: url('assets/fuentes/MyriadProRegular/MyriadProRegular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

body {
    min-height: 100vh;
    font-family: Myriad Pro Regular;
}

body strong {
    font-family: Myriad Pro Bold !important;
    font-weight: normal !important;
    ;
}

/* Estilos de la portada "app/inicio/portada.html"*/
.contentPortada {
    height: 100vh;
    background-color: #1B75BB;
}

.contentPortada .contentTitulo .tituloPrincipal,
.cajaPrincipal .introduccion .tituloPrincipal,
.cajaPrincipal .lenguaje .tituloPrincipal,
.cajaPrincipal .accesibilidad .tituloPrincipal,
.cajaPrincipal .materialAudio .tituloPrincipal,
.cajaPrincipal .evaluacionMateriales .tituloPrincipal,
.cajaPrincipal .recomendacionesA .tituloPrincipal,
.cajaPrincipal .referencias .tituloPrincipal,
.cajaPrincipal .infoAdicional .tituloPrincipal {
    padding: 0 15vw;
    font-family: Myriad Pro Bold;
    font-size: 36px;
    color: #1B2F72;
    line-height: 34px;
}

.contentPortada .contentTitulo .tituloPrincipal>span {
    color: #ffff;
}

.contentPortada .contentTitulo .estrellaIzquierda {
    width: 6%;
    position: relative;
    left: -113px;
    top: 8px;
    animation: transicionPuntos 6s infinite;
}

.contentPortada .contentTitulo .estrellaDerecha {
    width: 5%;
    position: relative;
    left: 115px;
    top: -30px;
    animation: transicionPuntos 7s infinite;
    animation-direction: reverse;
}

.contentPortada .contentTitulo .parrafoTitulo {
    padding: 0px 18vw;
    font-size: 16px;
    color: #ffff;
    line-height: 20px;
}

.contentPortada .contentTitulo {
    padding-top: 8vh;
}

.contentPortada .container.contentImg {
    margin-top: -6vh;
    animation: shake-slow 70s infinite;
}

.contentPortada .container.contentImg .conBrillo {
    display: none;
}

.contentPortada .container.contentImg .btn {
    cursor: pointer;
    position: relative;
    top: 86px;
    left: -5px;
    height: 90px;
}

.contentPortada .container .nube {
    width: 30%;
    position: relative;
}

.contentPortada .container .nube.izquierda {
    top: 90px;
    left: 16px;
    animation: shake-slow 40s infinite;
    animation-direction: reverse;
}

.contentPortada .container .nube.derecha {
    left: 100px;
    top: 190px;
    animation: transicionNubes 3s infinite;
}



/* Estilos de la pagina interna "app/paginaPortada/portadaInterna.html"*/
.contentInterna {
    background-color: #1B75BB;
    color: #ffff;
}

.contentInterna .parrafosPresentacion {
    animation: rubberBand 2s;
    line-height: 1.36
}


.contentInterna .seccion {
    padding-top: 5vh;
}

.contentInterna .parrafosPresentacion .parrafoUno,
.contentInterna .parrafosPresentacion .parrafoTres {
    padding: 0 5vw;
}

.contentInterna .parrafosPresentacion .parrafoDos {
    margin: 2vh 5vw;
}

.contentInterna .parrafosPresentacion .btn {
    cursor: pointer;
    color: #ffff;
    margin: -20px 0 4vh;
    padding: 36px;
    font-family: Myriad Pro Bold;
    background-image: url("/src/assets/imagenes/RECURSOS MOBILE/PNG PORTADAS/006. Boton rosado-11.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* Estilos del menu mobile "app/mobile/menuMobile.html"*/
.cajaPrincipal .navbar-toggler .fa-bars {
    font-size: 35px;
}

.cajaPrincipal .menuMobile .navbar-nav {
    padding-top: 6vh !important;
    padding-left: 5vw;
}

.cajaPrincipal .menuMobile {
    padding: 1vh 4vw 0 0;
}

@media (min-width:768px) {
    .cajaPrincipal .navbar {
        display: none;
    }
}

/* Estilos de la caja de herramientas "app/modeloCaja/cajaHerramienta.html"*/
.cajaPrincipal {
    color: #ffff;
}

.cajaPrincipal .introduccion,
.cajaPrincipal .lenguaje,
.cajaPrincipal .accesibilidad,
.cajaPrincipal .materialAudio,
.cajaPrincipal .evaluacionMateriales,
.cajaPrincipal .recomendacionesA,
.cajaPrincipal .referencias,
.cajaPrincipal .infoAdicional {
    padding: 6vh 0;
}

.cajaPrincipal .introduccion,
.cajaPrincipal .recomendacionesA {
    background-color: #C63D96;
}

.cajaPrincipal .lenguaje {
    background-color: #1B2F72;
}

.cajaPrincipal .accesibilidad {
    background-color: #CADB2A;
}

.cajaPrincipal .materialAudio {
    background-color: #F7931D;
}

.cajaPrincipal .evaluacionMateriales {
    background-color: #EE3A4F;
}

.cajaPrincipal .referencias {
    background-color: #237D34;
}

.cajaPrincipal .infoAdicional {
    background-color: #1B75BB;
}

.cajaPrincipal .introduccion .tituloPrincipal,
.cajaPrincipal .lenguaje .tituloPrincipal,
.cajaPrincipal .evaluacionMateriales .tituloPrincipal,
.cajaPrincipal .recomendacionesA .tituloPrincipal,
.cajaPrincipal .referencias .tituloPrincipal,
.cajaPrincipal .infoAdicional .tituloPrincipal {
    color: #ffff;
}

.cajaPrincipal .accesibilidad .tituloPrincipal,
.cajaPrincipal .materialAudio .tituloPrincipal {
    color: #000000;
}

.cajaPrincipal .introduccion .estrellaDerecha,
.cajaPrincipal .lenguaje .estrellaDerecha,
.cajaPrincipal .accesibilidad .estrellaDerecha,
.cajaPrincipal .materialAudio .estrellaDerecha,
.cajaPrincipal .evaluacionMateriales .estrellaDerecha,
.cajaPrincipal .recomendacionesA .estrellaDerecha,
.cajaPrincipal .referencias .estrellaDerecha,
.cajaPrincipal .infoAdicional .estrellaDerecha {
    width: 5%;
    position: relative;
}

.cajaPrincipal .introduccion .estrellaDerecha {
    left: 115px;
    top: -30px;
    animation: transicionPuntos 7s infinite;
    animation-direction: reverse;
}

.cajaPrincipal .lenguaje .estrellaDerecha {
    left: 90px;
    top: -30px;
}

.cajaPrincipal .accesibilidad .estrellaDerecha {
    left: 120px;
    top: -25px;
}

.cajaPrincipal .materialAudio .estrellaDerecha {
    left: 120px;
    top: -25px;
}

.cajaPrincipal .evaluacionMateriales .estrellaDerecha {
    left: 120px;
    top: -25px;
}

.cajaPrincipal .recomendacionesA .estrellaDerecha {
    left: 124px;
    top: -30px;
}

.cajaPrincipal .referencias .estrellaDerecha {
    left: 110px;
    top: -30px;
}

.cajaPrincipal .infoAdicional .estrellaDerecha {
    left: 105px;
    top: -42px;
}

.cajaPrincipal .introduccion .estrellaIzquierda,
.cajaPrincipal .lenguaje .estrellaIzquierda,
.cajaPrincipal .accesibilidad .estrellaIzquierda,
.cajaPrincipal .materialAudio .estrellaIzquierda,
.cajaPrincipal .evaluacionMateriales .estrellaIzquierda,
.cajaPrincipal .recomendacionesA .estrellaIzquierda,
.cajaPrincipal .referencias .estrellaIzquierda,
.cajaPrincipal .infoAdicional .estrellaIzquierda {
    width: 6%;
    position: relative;
}

.cajaPrincipal .introduccion .estrellaIzquierda {
    left: -120px;
    top: 24px;
    animation: transicionPuntos 6s infinite;
}

.cajaPrincipal .lenguaje .estrellaIzquierda {
    left: -96px;
    top: 20px;
}

.cajaPrincipal .accesibilidad .estrellaIzquierda {
    left: -125px;
    top: 20px;
}

.cajaPrincipal .materialAudio .estrellaIzquierda,
.cajaPrincipal .evaluacionMateriales .estrellaIzquierda {
    left: -110px;
    top: 25px;
}

.cajaPrincipal .recomendacionesA .estrellaIzquierda {
    left: -155px;
    top: 20px;
}

.cajaPrincipal .referencias .estrellaIzquierda {
    left: -110px;
    top: 25px;
}

.cajaPrincipal .infoAdicional .estrellaIzquierda {
    left: -120px;
    top: 20px;
}

.cajaPrincipal .introduccion .recomendaciones {
    margin: 4vh 0;
}

.cajaPrincipal .lenguaje .lugar {
    margin-top: 4vh;
}

.cajaPrincipal .lenguaje .recomendaciones {
    margin: 10vh 0;
}

.cajaPrincipal .lenguaje .guiaVerificacion {
    margin-top: 12vh;
}

.cajaPrincipal .accesibilidad .accesImg {
    margin: 10vh 0;
}

.cajaPrincipal .materialAudio .elaboracion {
    margin: 6vh 0;
}

.cajaPrincipal .evaluacionMateriales .evaluacionM {
    margin: 4vh 0;
}

.cajaPrincipal .recomendacionesA .claves {
    margin: 4vh 0;
}

.cajaPrincipal .referencias .descargaReferencias {
    margin: 10vh 0;
}

.cajaPrincipal .infoAdicional .procesoCualificacion {
    margin: 10vh 0;
}

.cajaPrincipal .introduccion .puntosBlanco,
.cajaPrincipal .lenguaje .puntosBlanco,
.cajaPrincipal .accesibilidad .puntosBlanco,
.cajaPrincipal .materialAudio .puntosBlanco,
.cajaPrincipal .evaluacionMateriales .puntosBlanco,
.cajaPrincipal .recomendacionesA .puntosBlanco,
.cajaPrincipal .referencias .puntosBlanco,
.cajaPrincipal .infoAdicional .puntosBlanco {
    position: relative;
    z-index: 1;
    margin-top: -1vh;
    width: 85%;
    opacity: 1;
}

.cajaPrincipal .introduccion div:nth-child(odd) .puntosBlanco {
    animation: transicionPuntos 6s infinite;
}

.cajaPrincipal .introduccion div:nth-child(even) .puntosBlanco {
    animation: transicionPuntos 6s infinite;
    animation-direction: reverse;
}

.cajaPrincipal .introduccion .imgMuñeco,
.cajaPrincipal .lenguaje .imgMuñeco,
.cajaPrincipal .accesibilidad .imgMuñeco,
.cajaPrincipal .materialAudio .imgMuñeco,
.cajaPrincipal .evaluacionMateriales .imgMuñeco,
.cajaPrincipal .recomendacionesA .imgMuñeco,
.cajaPrincipal .referencias .imgMuñeco,
.cajaPrincipal .infoAdicional .imgMuñeco {
    position: relative;
    z-index: 999;
    margin-top: -32vh;
    width: 46%;
}

.cajaPrincipal .introduccion .marco .imgMuñeco {
    width: 34%;
}

.cajaPrincipal .lenguaje .lugar .imgMuñeco {
    width: 38%;
}

.cajaPrincipal .lenguaje .recomendaciones .imgMuñeco {
    width: 40%;
}

.cajaPrincipal .introduccion .guiaVerificacion .imgMuñeco,
.cajaPrincipal .lenguaje .guiaVerificacion .imgMuñeco {
    width: 54%;
}

.cajaPrincipal .accesibilidad .accesText .imgMuñeco {
    width: 75%;
    margin: -22vh 0 4vh 0;
}

.cajaPrincipal .accesibilidad .accesImg .imgMuñeco {
    width: 62%;
    margin-left: 15vw;
}

.cajaPrincipal .accesibilidad .guiaVerificacion .imgMuñeco {
    width: 60%;
    margin-left: -25vw;
}

.cajaPrincipal .materialAudio .elaboracion .imgMuñeco {
    width: 52%;
}

.cajaPrincipal .materialAudio .uso .imgMuñeco {
    width: 70%;
    margin-top: -36vh;
}

.cajaPrincipal .materialAudio .guiaVerificacionV .imgMuñeco {
    width: 50%;
    margin-top: -40vh;
}

.cajaPrincipal .materialAudio .guiaVerificacionI .imgMuñeco {
    width: 60%;
    margin-top: -40vh;
    margin-left: 20vw;
}

.cajaPrincipal .evaluacionMateriales .evaluacionM .imgMuñeco {
    width: 64%;
    margin-top: -30vh;
    margin-left: 9vw;
}

.cajaPrincipal .evaluacionMateriales .evaluacionA .imgMuñeco {
    width: 64%;
    margin-left: -18vw;
}

.cajaPrincipal .evaluacionMateriales .evaluacionD .imgMuñeco {
    width: 64%;
    margin-top: -36vh;
    margin-left: -18vw;
}

.cajaPrincipal .recomendacionesA .claves .imgMuñeco {
    width: 60%;
    margin-top: -36vh;
    margin-left: 6vw;
}

.cajaPrincipal .recomendacionesA .personas .imgMuñeco {
    width: 65%;
    margin-top: -36vh;
    margin-left: 6vw;
}

.cajaPrincipal .recomendacionesA .discapacidad .imgMuñeco {
    width: 65%;
    margin-left: -15vw;
}

.cajaPrincipal .referencias .descargaReferencias .imgMuñeco {
    width: 75%;
    margin-top: -40vh;
}

.cajaPrincipal .infoAdicional .procesoCualificacion .imgMuñeco {
    width: 75%;
    margin-top: -26vh;
    margin-left: -10vw;
}

.cajaPrincipal .infoAdicional .glosario .imgMuñeco {
    width: 85%;
    margin-top: -36vh;
}

.cajaPrincipal .infoAdicional .bibliografia .imgMuñeco {
    width: 80%;
}

.cajaPrincipal .introduccion .btn,
.cajaPrincipal .lenguaje .btn,
.cajaPrincipal .accesibilidad .btn,
.cajaPrincipal .materialAudio .btn,
.cajaPrincipal .evaluacionMateriales .btn,
.cajaPrincipal .recomendacionesA .btn,
.cajaPrincipal .referencias .btn,
.cajaPrincipal .infoAdicional .btn {
    cursor: pointer;
    color: #000000;
    margin-top: -4vh;
    padding: 22px;
    font-family: Myriad Pro Bold;
    font-size: 12px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 999;
    line-height: 16px;
}

.cajaPrincipal .lenguaje .btn,
.cajaPrincipal .accesibilidad .btn,
.cajaPrincipal .materialAudio .btn,
.cajaPrincipal .evaluacionMateriales .btn,
.cajaPrincipal .recomendacionesA .btn,
.cajaPrincipal .referencias .btn,
.cajaPrincipal .infoAdicional .btn {
    font-size: 14px;
    padding: 26px;
    color: #ffff;
}

.cajaPrincipal .introduccion .marco .btn {
    background-image: url("/src/assets/imagenes/RECURSOS MOBILE/PNG PORTADAS/0011. Boton amarillo-11.png");
}

.cajaPrincipal .lenguaje .lugar .btn {
    background-image: url("/src/assets/imagenes/RECURSOS MOBILE/PNG PORTADAS/008. Boton azul claro-11.png");
}

.cajaPrincipal .accesibilidad .accesText .btn {
    background-image: url("/src/assets/imagenes/RECURSOS MOBILE/PNG PORTADAS/0013. Verde oscuro-11.png");
    padding: 11%;
}

.cajaPrincipal .materialAudio .elaboracion .btn {
    background-image: url("/src/assets/imagenes/RECURSOS MOBILE/PNG PORTADAS/007. Boton azul oscuro-11.png");
    padding: 10%;
    margin: 0;
}

.cajaPrincipal .evaluacionMateriales .evaluacionM .btn {
    background-image: url("/src/assets/imagenes/RECURSOS MOBILE/PNG PORTADAS/008. Boton azul claro-11.png");
    padding: 10%;
    margin-top: -6vh;
    margin-bottom: 6vh;
}

.cajaPrincipal .recomendacionesA .claves .btn {
    background-image: url("/src/assets/imagenes/RECURSOS MOBILE/PNG PORTADAS/009. Boton naranja-11.png");
    margin-bottom: 6vh;
}

.cajaPrincipal .introduccion .recomendaciones .btn {
    background-image: url("/src/assets/imagenes/RECURSOS MOBILE/PNG PORTADAS/0013. Verde oscuro-11.png");
    margin-top: -6vh;
    color: #ffff;
}

.cajaPrincipal .lenguaje .recomendaciones .btn {
    background-image: url("/src/assets/imagenes/RECURSOS MOBILE/PNG PORTADAS/006. Boton rosado-11.png");
    margin-top: -6vh;
}

.cajaPrincipal .accesibilidad .accesImg .btn {
    background-image: url("/src/assets/imagenes/RECURSOS MOBILE/PNG PORTADAS/008. Boton azul claro-11.png");
    padding: 11%;
    margin-top: -8vh;
}

.cajaPrincipal .materialAudio .uso .btn {
    background-image: url("/src/assets/imagenes/RECURSOS MOBILE/PNG PORTADAS/008. Boton azul claro-11.png");
    margin-bottom: 18vh;
}

.cajaPrincipal .evaluacionMateriales .evaluacionA .btn {
    background-image: url("/src/assets/imagenes/RECURSOS MOBILE/PNG PORTADAS/006. Boton rosado-11.png");
    padding: 10%;
    margin-top: -8vh;
    margin-bottom: 10vh;
}

.cajaPrincipal .recomendacionesA .personas .btn {
    background-image: url("/src/assets/imagenes/RECURSOS MOBILE/PNG PORTADAS/0012. Verde claro-11.png");
    color: #000000;
    padding: 8%;
    margin-bottom: 12vh;
}

.cajaPrincipal .introduccion .guiaVerificacion .btn {
    background-image: url("/src/assets/imagenes/RECURSOS MOBILE/PNG PORTADAS/0012. Verde claro-11.png");
    margin-top: -4vh;
}

.cajaPrincipal .lenguaje .guiaVerificacion .btn {
    background-image: url("/src/assets/imagenes/RECURSOS MOBILE/PNG PORTADAS/0010. Boton rojo-11.png");
    margin-top: -4vh;
}

.cajaPrincipal .accesibilidad .guiaVerificacion .btn {
    background-image: url("/src/assets/imagenes/RECURSOS MOBILE/PNG PORTADAS/0010. Boton rojo-11.png");
}

.cajaPrincipal .materialAudio .guiaVerificacionV .btn {
    background-image: url("/src/assets/imagenes/RECURSOS MOBILE/PNG PORTADAS/0010. Boton rojo-11.png");
    margin-bottom: 18vh;
}

.cajaPrincipal .materialAudio .guiaVerificacionI .btn {
    background-image: url("/src/assets/imagenes/RECURSOS MOBILE/PNG PORTADAS/0010. Boton rojo-11.png");
}

.cajaPrincipal .evaluacionMateriales .evaluacionD .btn {
    background-image: url("/src/assets/imagenes/RECURSOS MOBILE/PNG PORTADAS/009. Boton naranja-11.png");
    padding: 10%;
    margin-top: -7vh;
}

.cajaPrincipal .recomendacionesA .discapacidad .btn {
    background-image: url("/src/assets/imagenes/RECURSOS MOBILE/PNG PORTADAS/0011. Boton amarillo-11.png");
    color: #000000;
    padding: 8%;
    margin-top: 1vh;
}

.cajaPrincipal .referencias .descargaReferencias .btn {
    background-image: url("/src/assets/imagenes/RECURSOS MOBILE/PNG PORTADAS/006. Boton rosado-11.png");
    padding: 8%;
    margin-top: -1vh;
}

.cajaPrincipal .infoAdicional .procesoCualificacion .btn {
    background-image: url("/src/assets/imagenes/RECURSOS MOBILE/PNG PORTADAS/0010. Boton rojo-11.png");
    padding: 10%;
}

.cajaPrincipal .infoAdicional .glosario .btn {
    background-image: url("/src/assets/imagenes/RECURSOS MOBILE/PNG PORTADAS/006. Boton rosado-11.png");
    padding: 14%;
    margin-bottom: 10vh;
}

.cajaPrincipal .infoAdicional .bibliografia .btn {
    background-image: url("/src/assets/imagenes/RECURSOS MOBILE/PNG PORTADAS/009. Boton naranja-11.png");
    padding: 10%;
    margin-top: -2vh;
}


/* Estilos del modal */
.modal-dialog {
    -webkit-box-shadow: 0px 0px 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.modal .modal-content .btnClose {
    position: relative;
    top: 1vh;
    left: 86vw;
    opacity: 1;
    font-size: 30px;
}

.modal .modal-content {
    border-radius: 0;
    background-clip: unset;
}

.modal-open{
    overflow: hidden;
}

/* Estilos marco normativo */
.modal-content.primerDivMarco {
    background-color: #EE3A4F;
}

.primerDivMarco .tituloPrincipal {
    font-family: Myriad Pro Bold;
    font-size: 28px;
}

.primerDivMarco .estrellaDerecha {
    width: 5%;
    position: relative;
    left: 115px;
    top: -30px;
}

.primerDivMarco .estrellaIzquierda {
    width: 6%;
    position: relative;
    left: -124px;
    top: 30px;
}

.primerDivMarco article {
    line-height: 18px;
    text-align: justify;
    padding: 0 6vw;
}

.primerDivMarco .foto1 {
    margin-left: -3vw;
    margin-bottom: -2vh;
    width: 108%;
}

.segundoDivMarco .foto2 {
    width: 114%;
    margin-left: -6vw;
    margin-top: -4vh;
}

.segundoDivMarco .estrellaRojas {
    width: 6%;
    position: relative;
    top: 10px;
}

.segundoDivMarco .numero {
    font-family: Myriad Pro Bold;
    font-size: 16px;
    width: max-content;
    background-color: #FFF100;
    border-radius: 20px;
    padding: 0 6px;
    margin: 10px 0 10px -40px;
}

.segundoDivMarco .lineaPunteada {
    background-image: url("/src/assets/imagenes/RECURSOS MOBILE/PNG INTRODUCCIÓN/Marco Normativo/005.Línea punteada.png");
    background-size: auto;
    background-repeat: repeat-y;
    background-position: left;
    margin-left: 11vw;
    padding: 0 4vw 0 4vw;
}

.segundoDivMarco .lineaPunteada .accordion {
    margin-bottom: 15px;
}

.segundoDivMarco .lineaPunteada .accordion-button:not(.collapsed) {
    font-family: Myriad Pro Bold;
    color: #000000;
    font-weight: 900;
    background-color: #ffff;
    box-shadow: none;
}

.segundoDivMarco .lineaPunteada .accordion-button {
    background-color: #fff;
    font-family: Myriad Pro Bold;
    border-radius: 0;
    padding: 8px;
}

.segundoDivMarco .lineaPunteada .accordion-button:focus {
    z-index: 3;
    border-color: #000000;
    box-shadow: none;
}

.segundoDivMarco .lineaPunteada .accordion-button::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: 10px;
    font-family: FontAwesome;
    content: "\2b";
    background-image: none;
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform .2s ease-in-out;
}

.segundoDivMarco .lineaPunteada .accordion-button:not(.collapsed)::after {
    font-family: FontAwesome;
    content: "\f068";
    background-image: none;
    transform: none;
}

.segundoDivMarco .lineaPunteada .accordion-item {
    background-color: #fff;
    border-radius: 0;
    border: 2px solid #000000;
    font-weight: 500;
}

.segundoDivMarco .lineaPunteada .accordion-item .accordion-body {
    padding: 0 8px 8px 8px;
    line-height: 16px;
    font-size: 14px;
}

.segundoDivMarco .lineaPunteada .accordion-item .accordion-body a {
    font-weight: 900;
    color: #F7931D;
    text-decoration: none;
}

/* Estilos marco normativo, Lenguaje */
.DivRecomendaciones.color {
    background-color: #237D34;
}

.DivLenguajeUno.color {
    background-color: #1B75BB;
}

#cajaHerramientaModal .DivRecomendaciones .modal-body .contentInfo,
#cajaHerramientaModal .DivLenguajeUno .modal-body .contentInfo {
    width: 100%;
    margin-left: 0;
    padding: 0 8vw;
}

.DivRecomendaciones .item,
.DivLenguajeUno .item {
    color: #ffff;
}

.DivRecomendaciones .tituloPrincipal,
.DivLenguajeUno .tituloPrincipal {
    font-family: Myriad Pro Bold;
    font-size: 24px;
}

.DivRecomendaciones .estrellaDerecha,
.DivLenguajeUno .estrellaDerecha {
    width: 5%;
    position: relative;
    left: 115px;
    top: -30px;
}

.DivLenguajeUno .estrellaDerecha {
    left: 95px;
    top: -30px;
}

.DivRecomendaciones .estrellaIzquierda,
.DivLenguajeUno .estrellaIzquierda {
    width: 6%;
    position: relative;
    left: -150px;
    top: 26px;
}

.DivLenguajeUno .estrellaIzquierda {
    left: -112px;
    top: 28px;
}

.DivRecomendaciones article,
.DivLenguajeUno article {
    line-height: 18px;
    text-align: justify;
    padding: 0 7vw;
}

.DivRecomendaciones .foto1,
.DivLenguajeUno .foto1 {
    width: 100%;
}

.DivLenguajeUno footer {
    margin-top: 15vh;
}

.DivLenguajeUno .nube {
    width: 105%;
    position: relative;
    top: -21vh;
    left: -1vw;
}

.DivRecomendaciones .owl-theme,
.DivLenguajeUno .owl-theme {
    margin-bottom: -2vh;
}

.DivRecomendaciones .itemSlider header {
    margin-top: -3vh;
    margin-bottom: 3vh;
}

.DivRecomendaciones .itemSlider .interImg{
    margin-top: 1vh;;
}

.DivRecomendaciones .itemSlider .imgItemS {
    width: 70%;
}

.DivRecomendaciones .itemSlider article {
    padding: 0 5vw;
    color: #000000;
}

.DivLenguajeUno .itemSlider .imgEstrellaI{
    width: 12%;
    padding: 0 0 8vh 2vw;
}

.DivLenguajeUno .itemSlider .imgEstrellaD{
    width: 14%;
    padding-right: 2vw;
}

.DivLenguajeUno .itemSlider article {
    padding: 0 12vw 0 14vw;
    color: #000000;
}

.DivRecomendaciones .itemSlider article .tituloSlider {
    margin-left: 4px;
    margin-bottom: -3px;
    text-align: left;
    font-family: Myriad Pro Bold;
    line-height: 24px;
}

.DivLenguajeUno .itemSlider article .tituloSlider {
    margin-bottom: 3vh;
    text-align: left;
    font-family: Myriad Pro Bold;
    line-height: 24px;
}

.DivRecomendaciones .itemSlider article p{
    margin-bottom: -2px;
}

.DivLenguajeUno .itemSlider article p{
   margin-top: 3vh;
}

.DivRecomendaciones .itemSlider article p::before {
    content: ' ';
    background-image: url("/src/assets/imagenes/RECURSOS MOBILE/PNG INTRODUCCIÓN/Recomendaciones para la implementación del enfoque de género/011.Estrella verde.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    width: 10px; 
    height: 20px;
    position: relative;
    left: -4vw;
    top: 2vh;
}

.DivLenguajeUno .itemSlider article div>.False {
    content: ' ';
    background-image: url("/src/assets/imagenes/RECURSOS MOBILE/PNG LENGUAJE/009. No usar_Mesa de trabajo 1 copia 2.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    width: 42px;
    height: 42px;
    margin-right: 2vw;
    position: relative;
    left: -3vw;
    top: 7vh;
}

.DivLenguajeUno .itemSlider article div>.True {
    content: ' ';
    background-image: url("/src/assets/imagenes/RECURSOS MOBILE/PNG LENGUAJE/010. Usar_Mesa de trabajo 1 copia 2.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    width: 42px;
    height: 42px;
    margin-right: 2vw;
    position: relative;
    left: -3vw;
    top: 7vh;
}

.DivLenguajeUno .itemSlider article img{
    width: 120%;
    margin-left: -6vw;
}

.DivRecomendaciones .owl-theme .owl-controls .owl-page span,
.DivLenguajeUno .owl-theme .owl-controls .owl-page span{
    background-color: #FFF100;
}

