.contentPortada {
    height: 100vh;
    background-color: #1B75BB;
}

.contentPortada .contentTitulo .tituloPrincipal,
.cajaPrincipal .introduccion .tituloPrincipal,
.cajaPrincipal .lenguaje .tituloPrincipal,
.cajaPrincipal .accesibilidad .tituloPrincipal,
.cajaPrincipal .materialAudio .tituloPrincipal,
.cajaPrincipal .evaluacionMateriales .tituloPrincipal,
.cajaPrincipal .recomendacionesA .tituloPrincipal,
.cajaPrincipal .referencias .tituloPrincipal,
.cajaPrincipal .infoAdicional .tituloPrincipal {
    padding: 0 18vw;
    font-family: DIN Condensed Bold;
    font-size: 36px;
    color: #1B2F72;
    line-height: 34px;
}

.contentPortada .contentTitulo .tituloPrincipal>span {    color: #ffff;}

.contentPortada .contentTitulo .estrellaIzquierda {
    width: 6%;
    position: relative;
    left: -103px;
    top: 8px;
}

.contentPortada .contentTitulo .estrellaDerecha {
    width: 5%;
    position: relative;
    left: 100px;
    top: -30px;
}

.contentPortada .contentTitulo .parrafoTitulo {
    padding: 0px 18vw;
    font-size: 16px;
    color: #ffff;
    font-family: Myriad Pro Italic;
    line-height: 20px;
}

.contentPortada .contentTitulo {    padding-top: 5vh;}

.contentPortada .container.contentImg {
    margin-top: -6vh;
    animation: shake-slow 70s infinite;
}

.contentPortada .container.contentImg .conBrillo {    display: none;}

.contentPortada .container.contentImg .btn {
    cursor: pointer;
    position: relative;
    top: 86px;
    left: -5px;
    height: 90px;
}

.contentPortada .container .nube {
    width: 30%;
    position: relative;
}

.contentPortada .container .nube.izquierda {
    top: 9vh;
    left: 16px;
<<<<<<< HEAD

=======
>>>>>>> 2cc2940ca7f05767efd527e6691ce68be9714d5b
}

.contentPortada .container .nube.derecha {
    left: 100px;
<<<<<<< HEAD
    top: 22vh;
=======
    top: 190px;
>>>>>>> 2cc2940ca7f05767efd527e6691ce68be9714d5b
}